.dialog-custom {
  padding: 3rem;
}

.title-custom-dialog {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
}

.button-option {
  button {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #A7A8AD;
    border-radius: 0;

    span {
      font-weight: 700;
      letter-spacing: .75px;
      font-size: .8rem;
    }

    &.active {
      background-color: #000094;
      color: white;
      border: none;
    }
  }

  &.active {
    button {
      background-color: #000094;
      color: white;
      border: none;
    }
  }

}
