<mat-card>
  <mat-card-header>
    <mat-card-title class="requests-title">
      <a class="vermas-button" routerLink="../solicitudes">
        <img
          src="../../../assets/img/icons/arrow_left.svg"
          style="width: 14px; height: 14px; margin-left: 17px"
        />
      </a>
      <h5>Mis Solicitudes</h5>
    </mat-card-title>
    <mat-card-subtitle class="requests-subtitle">
      <a routerLink="../">Inicio</a> / Mis Solicitudes
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
<xt-grid-form title="" [insertvisible]="false" [searchvisible]="false">
  <xt-button
    class="button-action"
    tool
    tipoBoton="mat-button"
    action="Asignar"
    (buttonclicked)="fnAsignar()"
    >ASIGNAR</xt-button
  >
  <xt-button
    class="button-action"
    tool
    action="Desactivar entrevista"
    tipoBoton="mat-button"
    (buttonclicked)="fnDesactivarEntrevista()"
    >DESACTIVAR ENTREVISTA</xt-button
  >
  <xt-button
    class="button-action"
    tool
    action="Activar entrevista"
    tipoBoton="mat-button"
    (buttonclicked)="fnActivarEntrevista()"
    >ACTIVAR ENTREVISTA</xt-button
  >
  <xt-group-panel
    search
    title="Filtros"
    [fieldcols]="3"
    type="FieldContainer"
    [expanded]="true"
  >
    <xt-field-cell
      #FieldSearch
      id="FieldSearch"
      title="Buscar Persona, DNI o Sección"
      placeholder="Buscar Persona, DNI o Sección"
      datatype="text"
      [required]="false"
      [cols]="1"
      [rows]="1"
    ></xt-field-cell>
  </xt-group-panel>
  <xt-grid
    #maingrid
    [showCheckboxes]="true"
    [deleteMultiple]="true"
    [editVisible]="false"
    [deleteVisible]="false"
    [selectCheckEnd]="true"
    [selectCheckStart]="false"
    [nombreColumnaOpcion]="''"
  >
    <xt-grid-column
      title="DNI"
      datatype="Text"
      valueSource="NumeroDocumento"
    ></xt-grid-column>
    <xt-grid-column
      title="Nombre"
      datatype="Text"
      valueSource="NombreCompleto"
    ></xt-grid-column>
    <xt-grid-column
      title="Programa/Curso"
      datatype="reference"
      valueSource="Programa"
      textSource="Programa_text"
    ></xt-grid-column>
    <xt-grid-column
      title="Estado"
      datatype="reference"
      valueSource="EstadoDocumentoMatricula"
      textSource="EstadoDocumentoMatricula_text"
    ></xt-grid-column>
    <xt-grid-column
      title="Sede"
      datatype="reference"
      valueSource="Sede"
      textSource="Sede_text"
    ></xt-grid-column>
    <xt-grid-column
      title="Sección"
      datatype="reference"
      valueSource="Sector"
      textSource="Sector_text"
    ></xt-grid-column>
    <xt-grid-column
      title="Creado"
      datatype="Date"
      valueSource="Fecha"
    ></xt-grid-column>
    <xt-grid-column
      title="Estrevista"
      datatype="reference"
      valueSource="EstadoEntrevista"
      textSource="EstadoEntrevista_text"
    ></xt-grid-column>
  </xt-grid>
</xt-grid-form>
