<xt-group-panel title="Nuevo Registro" [fieldcols]="12" type="FieldContainer">
  <xt-cell [rows]="7" [cols]="12">
    <ng-container #ref></ng-container>
  </xt-cell>
  <xt-cell [cols]="12">
    <mat-dialog-actions align="end">
      <button mat-button (click)="cerrar()">Cancelar</button>
      <!--<button mat-button (click)="enviar()" cdkFocusInitial>Aceitar</button>-->
    </mat-dialog-actions>
  </xt-cell>

</xt-group-panel>
