.application-process
  padding: 1em
  margin: 1em
  background-color: #f5f5f5
  border-radius: 0.5em
  border: solid 1px #ccc

  .step
    background-color: #72b1ff
    padding: 1em
    border-radius: 0.5em
    margin-bottom: 1em
    &.detach
      background-color: #f9b8b8
.actionable
  // display: inline-block
  .item
    display: inline-block