<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Detalles de la solicitud </h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">Detalle de la solicitud</li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../">Solicitudes</a></li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../../">Atenciones</a></li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../../../">Inicio</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<article class="uc-center">
  <div *ngIf="requestState === status.LOADING">
    <ui-loader></ui-loader>
  </div>
  <div *ngIf="requestState === status.ERROR">
    <ui-error-block></ui-error-block>
  </div>
</article>
<section class="content" *ngIf="requestState === status.DONE">
  <div class="container-fluid">
    <app-request-info [request]="application"></app-request-info>
    <hr>
    <section>
      <article class="application-process">
        <header> 
          <h3>Procesar solicitud</h3>
          <p>
            Esta solicitud se encuentra en la oficina: <strong>{{getOfficeName(application.state.officeId)}}</strong>
          </p>
        </header>
        <div *ngFor="let state of application.states">
          <div *ngIf="state.nextState == -1">
            Esta solicitud a concluido exitosamente
          </div>
          <div *ngIf="state.nextState == 0" class="step detach">
            <div> <strong> Anular solicitud:</strong></div>
            <div>
              <textarea name="reason" #reason id="reason" rows="3" class="form-control" placeholder="Detalle de nulidad de solicitud"></textarea>
            </div>
            <br>
            <button (click)="updateState(state.nextState, reason.value)" class="btn btn-danger btn-medium">
              Anular solicitud
            </button>
          </div>
          
          <div *ngIf="state.nextState > 0" class="step"  [hidden]="state.state == 2">
            <p *ngIf="state.nextState == 100">
              <strong>Finalizar solicitud</strong>
            </p>
            <p *ngIf="state.state == 2">
              <strong>Pendiente de pago</strong>
            </p>
            <p *ngIf="state.nextState != 100 && state.state != 2">
              <strong>Derivar solicitud a "{{getOfficeName(state.nextOfficeId)}}"</strong>
            </p>
            <div [hidden]="state.state == 2">
              <textarea name="reason" #reason id="reason" cols="30" class="form-control" placeholder="Detalle de nulidad de solicitud"></textarea>
            </div>
            <br>
            <button (click)="updateState(state.nextState, reason.value)" class="btn btn-info btn-medium" [hidden]="state.state == 2">
              <span *ngIf="state.nextState == 100">
                Finalizar solicitud
              </span>
              <span *ngIf="state.nextState != 100 || state.state != 2">
                Derivar solicitud
              </span>
            </button>
            
            <hr>
            <div>
              <div><small>*Al derivar de ejecutaran los siguietes procesos</small></div>
              <div class="actionable">
                <div *ngFor="let t of state.actionable.triggers.before" class="item">
                  <img [src]="'/assets/img/icons/'+t.type+'.png'" alt="pdf" height="40px">
                  {{t.name}} 
                </div>
                <div *ngFor="let t of state.actionable.triggers.after" class="item">
                  <img [src]="'/assets/img/icons/'+t.type+'.png'" alt="pdf" height="40px">
                  {{t.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</section>
