<!-- Main content -->
<section class="content uc-content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-xl-4 col-md-6 col-12" *ngFor="let module of modules; let i = index">
          <!-- small box -->
          <a [routerLink]="['/administrativo/', level, module.url]">
            <ui-link-card
              [title]="module.name"
              [description]="module.description"
              icon="/assets/img/icons/virtual-classroom.svg"
              color="style_{{i+1}}">
            </ui-link-card>
          </a>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
