.container-principal {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 300px;
}

.container-header {
  display: flex;
  flex-direction: column;
}

.container-data {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.container-requests {
  display: flex;
  flex-direction: column;
  width: 641px;
}

.requests-title {
  display: flex;
  flex-direction: row;
  background-color: aqua;
}

.vermas-button {
  display: flex;
  flex-direction: row;
  margin-left: 350px;
}
