<router-outlet>
  <div class="container-header">
    <h3 style="color: #000094; font-size: 32px; font-weight: 800">
      Hola Antonio
    </h3>
    <h5 style="font-size: 20px; font-weight: 400">Comercial</h5>
  </div>
  <div class="container-data">
    <!-- <div class="container-requests">
      <div class="requests-title">
        <h5 style="font-size: 28px; font-weight: 700">Para Validar</h5>
        <div class="vermas-button">
          <h5
            style="
              color: #000094;
              font-size: 14px;
              margin-top: 5px;
              font-weight: 700;
            "
          >
            VER TODAS
          </h5>
          <img
            src="../../../assets/img/icons/arrow_right.svg"
            style="width: 14px; height: 14px; margin-left: 17px"
          />
        </div>
      </div>
    </div> -->
    <div class="container-estadistica"></div>
  </div>
</router-outlet>
