//div.step:nth-child(1) > article:nth-child(1) > header:nth-child(1)
.step-container
  // background-color: red
  font-size: 1.2em
  overflow-x: scroll
  display: flex
  flex-direction: row
  justify-content: center
  .step 
    > article
      // height: 160px
      min-width: 160px
      // max-width: 320px
      // background-color: blue
      overflow: hidden
      > header
        height: 16px
        background-color: #4cc0f8
        margin: 10px 0
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        vertical-align: middle
        .item
          width: 16px
          height: 16px
          background-color: #a0a0a0
          border-radius: 50%
          border: solid 2px #1579ab
          &.pending
            background-color: #a0a0a0
            border-color: #fdfdfd
          &.done
            background-color: #aed976
            border-color: #fdfdfd
          &.current
            border-color: #fdfdfd
            background-color: #4cc0f8
          &.cancel
            border-color: #fdfdfd
            background-color: #f44336
          &.last
            border-color: #fdfdfd
            background-color: #aed976
      > div
        display: flex
        padding: 12px
        flex-direction: column
        justify-content: center
        margin: 10px
        height: 160px
        //width: 100%
        background-color: yellow
        border-radius: 8px
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
        word-wrap: break-word
        color: #fafafa
        font-weight: 300
        hr
          margin: 6px 0 2px 0
          padding: 0
        .info
          font-size: 0.7em
          text-align: left
        .office
          font-size: 0.8em
          color: #efeeeea7
        &.pending
          background-color: #6e6e6e
          border-color: #fdfdfd
        &.done
          background-color: #589509
          border-color: #fdfdfd
        &.current
          border-color: #fdfdfd
          background-color: #17658c
        &.cancel
          border-color: #fdfdfd
          background-color: #f44336
        &.last
          border-color: #fdfdfd
          background-color: #589509
    &:nth-child(1) > article > header
        border-radius: 8px 0 0 8px
    &:nth-last-child(1) > article > header
        border-radius: 0 8px 8px 0
    