<article class="uc-center">
  <div *ngIf="requestState === status.LOADING">
    <ui-loader></ui-loader>
  </div>
  <div *ngIf="requestState === status.ERROR">
    <ui-error-block></ui-error-block>
  </div>
  <div *ngIf="requestState === status.DONE">
    <section class="step-container">
      <div class="step" *ngFor="let step of steps">
        <article>
          <header>
            <span class="item" [class]="step.state"></span>
          </header>
          <div [class]="step.state">
            <div>
              <small class="office" *ngIf="step.state != 'last' && step.state != 'cancel'">{{step.office}} <br></small>
             
              <strong>{{step.title}}</strong>
            </div>
            <div class="info" *ngIf="step.state == 'done' || step.state == 'cancel'">
              <hr>
              <!-- <strong>Usuario: </strong>
              <span>{{step.user}}</span> -->
              <br>
              <strong>Fecha: </strong>
              <span>{{step.datetime | date:'dd/MM/yyy'}}</span>
              <br>
              <strong>Hora: </strong>
              <span>{{step.datetime | date:'hh:mm a'}}</span>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>
</article>