<!-- Content Header (Page header) -->
<div class="uc-content content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <!-- <h2 class="m-0">Pagina principal de {{ level }}</h2> -->
        <h2 class="m-0">Reporte de solitudes</h2>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">{{level | uppercase}}</li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../">Reportes</a></li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../../">Inicio</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="uc-content">
  <div class="container-fluid">
      <form action="" class="uc-form">
          <div class="row">
              <div class="col-6">
                  <div>
                      <label class="form-labe uc-bg-{{color}}" for="code">Código de la solicitud</label>
                      <input class="form-control uc-input" #applicationCode type="text" name="code" id="code">
                  </div>
              </div>
              <div class="col-6">
                <br>
                <br>
                <div style="padding-top: 4px;">
          
                  <button (click)="searchRequest(applicationCode.value)" type="button" class="btn btn-info" style="border-radius: 1.6em;">
                    <img src="/assets/img/icons/syllabus.svg" class="uc-card-icons" style="width: 32px;" alt="">
                    buscar solicitud
                  </button>
          
                </div>
              </div>
          </div>
      </form>

      <article class="uc-center">
        <div *ngIf="requestState === status.LOADING">
          <ui-loader></ui-loader>
        </div>
        <div *ngIf="requestState === status.ERROR">
          <ui-error-block></ui-error-block>
        </div>
      </article>

      <div *ngIf="application">
        <app-request-info [request]="application"></app-request-info>
      </div>
  </div>
</div>

<ul>
  <li><a routerLink="../">regresar</a></li>
</ul>
