<xt-grid-form title="Integrante"> 
  <xt-grid #maingrid nombreColumnaOpcion=""  [showCheckboxes]="true" [deleteMultiple]="true">
    <xt-grid-column title="Sección" datatype="reference" valueSource="Seccion" textSource="Seccion_text"></xt-grid-column>
    <xt-grid-column title="Código" datatype="reference" valueSource="Codigo" textSource="Codigo_text"></xt-grid-column>
    <!--<xt-grid-column title="Graduación" datatype="reference" valueSource="PROGraduacion" textSource="PROGraduacion_text"></xt-grid-column>-->
    <xt-grid-column title="Nombres" datatype="Text" valueSource="Nombre"></xt-grid-column>
    <xt-grid-column title="Apellidos" datatype="Text" valueSource="Apellidos"></xt-grid-column>
    <xt-grid-column title="Sede" datatype="reference" valueSource="Sede" textSource="Sede_text"></xt-grid-column>
    <xt-grid-column title="Nombre de Maestría" datatype="reference" valueSource="NombreMaestria" textSource="NombreMaestria_text"></xt-grid-column>
    <xt-grid-column title="Modalidad" datatype="Text" valueSource="Modalidad"></xt-grid-column>
    <xt-grid-column title="Periodo Académico" datatype="Text" valueSource="PeriodoAcademico"></xt-grid-column>
  </xt-grid>
</xt-grid-form>
