<button type="button" mat-button *ngIf="tipoBoton == 'mat-button'" (click)="handleClick($event)" [disabled]="deshabilitado">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
</button>
<button type="button" mat-raised-button *ngIf="tipoBoton == 'mat-raised-button'" (click)="handleClick($event)" [disabled]="deshabilitado">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
</button>
<button type="button" mat-stroked-button *ngIf="tipoBoton == 'mat-stroked-button'" (click)="handleClick($event)" [disabled]="deshabilitado">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
</button>
<button type="button" mat-flat-button *ngIf="tipoBoton == 'mat-flat-button'" (click)="handleClick($event)" [disabled]="deshabilitado">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
</button>
<button type="button" mat-icon-button *ngIf="tipoBoton == 'mat-icon-button'" (click)="handleClick($event)" [disabled]="deshabilitado">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
</button>
<button type="button" mat-fab *ngIf="tipoBoton == 'mat-fab'" (click)="handleClick($event)" [disabled]="deshabilitado">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
</button>
<button type="button" mat-mini-fab *ngIf="tipoBoton == 'mat-mini-fab'" (click)="handleClick($event)" [disabled]="deshabilitado">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
</button>
<button type="button" mat-menu-item *ngIf="tipoBoton == 'mat-menu-item'" (click)="handleClick($event)" [disabled]="deshabilitado">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
</button>

<ng-template #buttonContent>
    <ng-content></ng-content>
</ng-template>
