<div class="xt-panel xt-title">
  <span>{{title}}</span>
</div>

<div class="xt-panel xt-body">
  <label class="xt-nota xt-{{notaInicialStyle}}" *ngIf="notaInicial" style="white-space:pre-wrap">
    <i class="fa fa-info-circle"></i> {{notaInicial}}
  </label>


  <ng-content></ng-content>


  <label class="xt-nota xt-{{notaFinalStyle}}" *ngIf="notaFinal" style="white-space:pre-wrap">
    <i class="fa fa-info-circle"></i> {{notaFinal}}
  </label>
</div>
<!--<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>{{title}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="xt-panel xt-body">-->
      <!--<label class="xt-nota xt-{{notaInicialStyle}}" *ngIf="notaInicial" style="white-space:pre-wrap">
        <i class="fa fa-info-circle"></i> {{notaInicial}}
      </label>-->
      <!--<ng-content></ng-content>-->
      <!--<label class="xt-nota xt-{{notaFinalStyle}}" *ngIf="notaFinal" style="white-space:pre-wrap">
        <i class="fa fa-info-circle"></i> {{notaFinal}}
      </label>-->
    <!--</div>
  </mat-expansion-panel>
</mat-accordion>-->
