:host {
  .xt-panel.xt-title {
    font-size: 20px;
    font-weight: bold;
  }

  .xt-panel.xt-body {
    display: grid;
    grid-template-columns: repeat(var(--fieldcols,2), 1fr);
    grid-auto-rows: minmax(3rem, auto);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 15px;
  }
}
