.container-principal
  display: flex
  flex-direction: column
  margin-left: 50px

.container-header
  display: flex
  flex-direction: column

.requests-title
  display: flex
  flex-direction: row
  justify-content: space-between

.item-requests
  display: flex
  flex-direction: column

.count-request
  display: flex
  flex-direction: column

.content-visible
  display: flex
  gap: 0 .5rem

  .content
    flex: 1
    .card-summary
      border-radius: 10px
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)
      background-color: #ffffff
      padding: 1rem .5rem
      .card-header
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        .title-header
          font-size: 1.5rem
          font-weight: 700
          color: #000
        .see-more-button
          display: flex
          align-items: center
          gap: 1rem
          .label-see-more
            font-size: .9rem
            font-weight: 700
            color: #000094

      .card-content
        width: 100%
        display: flex
        flex-direction: column
        gap: .5rem
        .item-requests-summary
          display: grid
          grid-template-columns: minmax(auto, 100px) 1fr .5fr
          padding: .5rem
          background-color: #f7f7f7
          .item-requests-date
            display: flex
            align-items: center
            justify-content: flex-start
            .label-time
              letter-spacing: .75px
              font-weight: 400
              font-size: .8rem
          .item-requests-info
            display: flex
            flex-direction: column
            justify-content: center
            .small-text
              color: #AB1DAB
              font-size: .7rem
              margin-bottom: 3px
              font-weight: 700
            .info-name
              font-size: 1.3rem
              font-weight: 700
              line-height: 24px
              color: #000
              letter-spacing: 1px
            .info-program
              font-size: .8rem
              font-weight: 400
              line-height: 20px
              color: #000
              letter-spacing: .75px
          .item-requests-action
            display: flex
            justify-content: center
            align-items: center
            .validate-button
              outline: none !important
              border: none !important
              background-color: #EC653B
              color: #fff
              font-weight: 700
              font-size: .7rem
              padding: 3px 8px
              border-radius: 12px
              cursor: pointer
    .card-empty
      background-color: transparent
      width: 70%
      margin-right: auto
      margin-left: 3rem
      .card-content
        display: flex
        flex-direction: column
        gap: 1rem
        width: 100%
        .count-request
          display: flex
          flex-direction: row
          align-items: center
          justify-content: space-between
          padding: 11px 24px 11px 50px
          border-radius: 50px
          max-width: 375px
          cursor: pointer

          &.validated
            background-color: #EC653B
          &.to-validate
            background-color: #AB1DAB
          &.total
            background-color: #80267B

          .content-info
            display: flex
            justify-content: center
            flex-direction: column
            color: white
            font-size: 1.3rem
            font-weight: 400

            .counter-value
              color: white
              font-weight: 800
              font-size: 2rem
              letter-spacing: 1px

          mat-icon
              width: 3rem
              height: 3rem
              font-size: 3rem
              color: white
