<div class="container-principal">
  <div class="container-header">
    <h3 style="color: #000094; font-size: 32px; font-weight: 800">
      Hola {{ profile?.name ?? "" | titlecase }}
    </h3>
    <h5 style="font-size: 20px; font-weight: 400">Comercial</h5>
  </div>
  <div class="content-visible">
    <div class="content">
      <div class="card-summary">
        <div class="card-header">
          <span class="title-header">Para Validar</span>
          <div class="ml-auto content-see-more">
            <a class="see-more-button" routerLink="../solicitudes">
              <span class="label-see-more">VER TODAS</span>
              <img
                alt="arrow_right"
                src="../../../assets/img/icons/arrow_right.svg"
                style="width: 14px; height: 14px"
              />
            </a>
          </div>
        </div>
        <div class="card-content">
          <ng-container *ngFor="let dat of datSolicitudes">
            <div class="item-requests-summary">
              <div class="item-requests-date">
                <span class="label-time">
                  {{ dat?.Fecha | date : "MMM d y h:mm a" }}
                </span>
              </div>
              <div class="item-requests-info">
                <span class="small-text">POSTULANTE</span>
                <span class="info-name">{{ dat?.NombreCompleto }}</span>
                <span class="info-program">{{ dat?.Programa_text }}</span>
              </div>
              <div class="item-requests-action">
                <button
                  class="validate-button"
                  (click)="fnValidarDocumento(dat)"
                >
                  VALIDAR DOCUMENTO
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="card-empty">
        <div class="card-content">
          <div class="count-request validated">
            <div class="content-info">
              <span class="counter-value">{{
                datCount.validarDocumentos
              }}</span>
              VALIDAR DOCUMENTOS
            </div>
            <mat-icon>chevron_right</mat-icon>
          </div>
          <div class="count-request to-validate">
            <div class="content-info">
              <span class="counter-value">{{ datCount.validados }}</span>
              VALIDADOS
            </div>
            <mat-icon>chevron_right</mat-icon>
          </div>
          <div class="count-request total">
            <div class="content-info">
              <span class="counter-value">{{ datCount.enTotal }}</span>
              EN TOTAL
            </div>
            <mat-icon>chevron_right</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
