<div class="uc-box card" [class]="color">
  <div class="uc-small-box">
    <div class="card-body">
      <h3 class="uc-title-white card-title">{{title}}</h3>
      <p class="uc-text-white-left card-text">{{description}}</p>
    </div>
    <div class="uc-icon">
      <img [src]="icon" class="uc-card-icon" alt="">
    </div>
  </div>
</div>
