<!-- <p>p401 works!</p> -->

<div class="uc-content-sect">
    <div class="card uc-card-sect-2 mb-3 text-center uc-bg-green2">
        <div class="card-body">
            <img src="/assets/img/icons/error.svg" alt="">
            <div>
                <h5 class="uc-t-bold">¡Oops!</h5>
                <p class="card-text uc-text-white">La página presenta algunos inconvenientes.<br> Vuelve a intentarlo en unos minutos.</p>
            </div>
        </div>
    </div>
</div>
