.uc-content-sect
    .uc-card-sect-2
        img
            max-width: 100px
        div h5
            float: none
            text-align: center
            color: #fff
            font-weight: 400
            font-size: 25px