<!-- Content Header (Page header) -->
<div class="uc-content content-header">
<div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
        <!-- <h2 class="m-0">Pagina principal de {{ level }}</h2> -->
        <h2 class="m-0">Administración</h2>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item active">{{level | uppercase}}</li>
        <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../">Inicio</a></li>
        </ol>
    </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="uc-content">
<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4">
    <div class="col">
    <a routerLink="administrar-permisos">
        <div class="uc-box card h-100 uc-bg-orange2">
        <div class="card-body">
            <div class="">
            <!-- <object data="/assets/img/icons/profile.svg" type="image/svg+xml"></object> -->
            <img  src="/assets/img/icons/profile.svg" class="uc-card-icons" alt="">
            </div>
            <h3 class="uc-title-white card-title">Administrar permisos</h3>
        </div>
        </div>
    </a>
    </div>
    <div class="col">
    <a routerLink="administrar-menus">
        <div class="uc-box card h-100 uc-bg-orange2">
        <div class="card-body">
            <div class="">
            <!-- <object data="/assets/img/icons/profile.svg" type="image/svg+xml"></object> -->
            <img  src="/assets/img/icons/syllabus.svg" class="uc-card-icons" alt="">
            </div>
            <h3 class="uc-title-white card-title">Administar menus</h3>
        </div>
        </div>
    </a>
    </div>
    <div class="col">
    <a routerLink="comunicado-general">
        <div class="uc-box card h-100 uc-bg-orange2">
        <div class="card-body">
            <div class="">
            <!-- <object data="/assets/img/icons/profile.svg" type="image/svg+xml"></object> -->
            <img  src="/assets/img/icons/record-card.svg" class="uc-card-icons" alt="">
            </div>
            <h3 class="uc-title-white card-title">Comunicado general</h3>
        </div>
        </div>
    </a>
    </div>
</div>
</div>
<!-- /.content -->
<!-- /.content - regresar -->

