<!-- Content Header (Page header) -->
<div class="uc-content content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <!-- <h2 class="m-0">Pagina principal de {{ level }}</h2> -->
        <h2 class="m-0">Reporte de solitudes</h2>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">{{level | uppercase}}</li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../">Reportes</a></li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../../">Inicio</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="uc-content">
  <div class="container-fluid" *ngIf="!showReport">
    <article class="uc-center">
      <div *ngIf="reportPrereqState === status.LOADING">
        <ui-loader></ui-loader>
      </div>
      <div *ngIf="reportPrereqState === status.ERROR">
        <ui-error-block></ui-error-block>
      </div>
    </article>
    <div>
      <ui-report-filter [color]="color" [level]="level" (submit)="getReportData($event)"></ui-report-filter>
      <hr>
    </div>
    <section>
      <header>
        <h4> Reportes generados:</h4>
      </header>
      <article>
        
        <ui-report-list-item [reports]="reports" (removeItem)="removeReport($event)" (show)="previzualizeReport($event)"></ui-report-list-item>
      </article>
    </section>
  </div>

  <div *ngIf="showReport">
    <div>
      <button (click)="showReport = false">regresar</button>
    </div>
    <app-request-list [applications]="report?.data ?? []" [color]="color"></app-request-list>
  </div>
</div>
<!-- /.content -->
<!-- /.content - regresar -->
