.error-block 
  background: #FDDBFF 0% 0% no-repeat padding-box
  border-radius: 20px
  opacity: 1
  padding: 2.4em
  margin: 1em
  display: inline-block
  max-width: 450px
  color: #000094
  text-align: center
  .big-text 
    font-size: 2.4em
    font-weight: bold
    margin-bottom: 1.5em
    // padding-left: 2em
  .img-container
    img
      height: 160px
  .b-right
    text-align: left
    padding-left: 2em
  .img-container svg
    fill: black