<section class="error-block">
  <article class="">
    <div class="img-container">
      <img src="/assets/img/icons/error.svg" alt="no-data">
    </div>
    <div class="">
      <span class="big-text">
        {{mainText}}
      </span>
    </div>
  </article>
  <aside class="center">
    <span class="uc-text">
      {{text}}
    </span>
  </aside>
</section>