<div class="card-body login-card-body">
  <p class="login-box-msg">Ingresa con tu cuenta @continental.edu.pe</p>

  <div *ngIf="!loggedIn" class="social-auth-links text-center mb-3">
    <button href="#" class="btn btn-block btn-danger" (click)="signInWithGoogle()">
      <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
    </button>
  </div>
  <!-- /.social-auth-links -->
  <div *ngIf="loggedIn">
      <img [src]="googleUser.photoUrl">
      <div>
        <h4>{{ googleUser.name }}</h4>
        <p>{{ googleUser.email }}</p>
      </div>
      <div>
        Espera un momento mientras cargamos tu información...
      </div>
      <div *ngIf="loading">
        Cargando... por favor espera.
      </div>
      <div *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <div *ngIf="waitRedirect">
        Hemos validado tu información, por favor espera un momento mientras te redireccionamos...
      </div>
  </div>
</div>
