<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Buscar estudiante </h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">Banner</li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../">Herramientas</a></li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../../">Inicio</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <header>
      <h3>Configuracion de banner</h3>
    </header>
    <div>
      <ul>
        <li>
          <h5>Banners</h5>
        </li>
        <li *ngFor="let banner of banners">
          {{banner.title}}
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div>
    <header>
      <h5>Nuevo banner</h5>
    </header>
    <form action="">
      <div class="form-group">
        <label for="title">Titulo</label>
        <input type="text" class="form-control" [(ngModel)]="properties.title" name="title">
        --{{properties.title}}--
      </div>
      <div>
        <label for="template">Plantilla</label>
        <select name="" id="" #tplSelect class="form-control" (change)="setTpl(tplSelect.value)">
          <option value="" selected disabled>-----</option>
          <option *ngFor="let tpl of templates" [value]="tpl.code">
            {{tpl.name}}
          </option>
        </select>
        <fieldset *ngIf="properties.template == 'imageOnly'">
          <legend>Solo imagen</legend>
          <div class="form-group">
            <label for="image">Imagen URL</label>
            <input type="text" [(ngModel)]="properties.image" name="image" id="" class="form-control">
          </div>
        </fieldset>
        <fieldset *ngIf="properties.template == '50-50'">
          <legend>50/50 horizontal</legend>
          <div class="form-group">
            <label for="image">Imagen URL</label>
            <input type="text" [(ngModel)]="properties.image" name="image" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="header">Cabecera</label>
            <input type="text" [(ngModel)]="properties.header"name="header" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="header">Cuerpo</label>
            <textarea type="text" [(ngModel)]="properties.content" name="content" id="" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="header">pie de pagina</label>
            <input type="text" [(ngModel)]="properties.footer" name="footer" id="" class="form-control">
          </div>
        </fieldset>
        <fieldset *ngIf="properties.template == '70-30'" ß>
          <legend>70/30 horizontal</legend>
          <div class="form-group">
            <label for="image">Imagen URL</label>
            <input type="text" [(ngModel)]="properties.image" name="image" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="content">Cuerpo</label>
            <textarea type="text" name="content" id="" class="form-control" [(ngModel)]="properties.content"></textarea>
          </div>
        </fieldset>
        <fieldset *ngIf="template?.code == 'textOnly'" ß>
          <legend>Solo texto</legend>
          <div class="form-group">
            <label for="image">Imagen</label>
            <input type="file" name="" id="" class="form-control">
          </div>
          <div class="form-group">
            <label for="header">Cuerpo</label>
            <input type="text" name="" id="" class="form-control">
          </div>
        </fieldset>
      </div>
      <div>
        <button class="uc-btn uc-btn-purple">
          Crear
        </button>
      </div>
    </form>
    <aside>
      <h5>previsualización</h5>
      <article>
        --{{properties | json}}--
        <app-banner-ui [properties]="properties"></app-banner-ui>
      </article>
    </aside>
  </div>
</section>
