<p>xt-grid-column works!</p>
<ng-template #defSearch>
  <xt-field-panel #defField [title]="toolTip" datatype="text" (keydown)="grid?.search()" [ctx]="{search: true, col: this}"></xt-field-panel>
</ng-template>
