<xt-grid-form title="" [searchvisible]="true">
  <xt-group-panel search title="Filtros" [fieldcols]="3" type="FieldContainer" [expanded]="true">
    <xt-field-cell #FieldEstudiante id="FieldEstudiante" title="Estudiante" datatype="reference" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldTituloTesis id="FieldTituloTesis" title="Título de Tesis" placeholder="Título de Tesis" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldGestionTesis id="FieldGestionTesis" title="Gestión de Tesis" datatype="reference" [required]="false" [cols]="1" [rows]="1" [listid]="1001"></xt-field-cell>
    <xt-field-cell #FieldFechaInscripcionIni id="FieldFechaInscripcionIni" title="Fecha de inscripción Inicio" datatype="Date" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldFechaInscripcionFin id="FieldFechaInscripcionFin" title="Fecha de inscripción Fin" datatype="Date" [cols]="1" [rows]="1"></xt-field-cell>
  </xt-group-panel>
  <xt-grid #maingrid nombreColumnaOpcion="">
    <xt-grid-column title="Fecha de inscripción" datatype="Date" valueSource="FechaInscripcion"></xt-grid-column>
    <xt-grid-column title="Número de grupo" datatype="Text" valueSource="NumeroGrupo"></xt-grid-column>
    <xt-grid-column title="Título de tesis" datatype="Text" valueSource="TituloTesis"></xt-grid-column>
    <xt-grid-column title="Gestión de Tesis" datatype="reference" valueSource="GestionTesis" textSource="GestionTesis_text" listid="1"></xt-grid-column>
    <xt-grid-column title="Etapa" datatype="reference" valueSource="Etapa" textSource="Etapa_text" listid="7"></xt-grid-column>
  </xt-grid>
</xt-grid-form>
