<!-- sidebar-dark-primary -->
<aside class="main-sidebar uc-sidebar uc-sidebar-{{ level }} elevation-4">
  <!-- Brand Logo -->
  <p class="uc-brand">
    <img
      src="/assets/img/logos/logo-posgrado-white.svg"
      alt="uc posgrado"
      class="uc-logo uc-logo-expanded brand-image"
    />
    <img
      src="/assets/img/logos/isotipo-white-ucontinental.png"
      alt="uc posgrado"
      class="uc-logo uc-logo-collapsed brand-image"
    />
  </p>
  <p class="uc-center">
    <img
      src="/assets/img/avatar-default.png"
      alt="avatar"
      class="uc-avatar img-circle"
    />
  </p>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="uc-sidebar-user-resume">
      <p class="uc-center p-2">
        <span class="uc-t-small-bold uc-ligth uc-text-white">
          {{ profile!.name ?? "" | titlecase }}
          {{ profile!.familyName ?? "" | titlecase }}
          {{ profile!.givenName ?? "" | titlecase }}
        </span>
        <br />
        <span class="uc-t-small-bold uc-ligth uc-text-white">{{
          profile!.code
        }}</span>
        <br />
        <span class="uc-t-small-bold uc-ligth uc-text-white">CAMPUS</span>
        <br />
        <select name="campus" (change)="changeCampus($event)">
          <option [value]="campus" *ngFor="let campus of campuses">
            {{ getCampusName(campus) }}
          </option>
        </select>
        <br />
        <!-- <span class="uc-t-small uc-ligth">Ingenieria de sistemas e informatica</span> -->
      </p>
      <!-- <p class="uc-center p-2">
        <a routerLink="/auth/escoger-perfil" class="uc-btn uc-btn-ligth">
          Cambiar perfil del estudiante
        </a>
      </p> -->
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a [routerLink]="[pathModule, level]" class="nav-link">
            <div class="uc-content-flex">
              <div class="uc-bg-white uc-slide-icon"></div>
              <p class="uc-text-white-left">Inicio</p>
            </div>
          </a>
        </li>
        <li class="nav-item" *ngFor="let module of modules; let i = index">
          <a [routerLink]="[pathModule, level, module.url]" class="nav-link">
            <div class="uc-content-flex">
              <div class="uc-bg-menu style_{{ i + 1 }} uc-slide-icon"></div>
              <p class="uc-text-white-left">
                {{ module.name }}
              </p>
            </div>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
