
<router-outlet>
  <!-- Content Header (Page header) -->
  <div class="uc-content content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h2 class="m-0">Portal administrativo {{ level }}</h2>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">{{level | uppercase}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <ui-entry-cards [level]="level" [modules]="modules"></ui-entry-cards>
  <!-- /.content -->
</router-outlet>