<mat-label class="xt-title">{{title}}</mat-label>
<ng-content></ng-content>
<!--<div class="xt-cell {{xtclass}} xt-col-{{cols}} xt-row-{{rows}}" [style.--cols]="cols" [style.--rows]="rows">
</div>-->
