<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Solicitudes </h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">Solicitudes</li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../">Atenciones</a></li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../../">Inicio</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<article class="uc-center">
  <div *ngIf="requestState === status.LOADING">
    <ui-loader></ui-loader>
  </div>
  <div *ngIf="requestState === status.ERROR">
    <ui-error-block></ui-error-block>
  </div>
</article>
<section class="content" *ngIf="requestState === status.DONE">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form class="row uc-form">
          <div class="col-3">
            <div>
              <label class="form-labe uc-bg-{{color}}" for="campus">Criticidad:</label>
              <select name="criticaly" [(ngModel)]="tinyFilter.criticaly" (change)="change($event)" class="form-control uc-bg-gray">
                <option value="" selected>--------</option>
                <option value="red">Rojo</option>
                <option value="yellow">Amarillo</option>
                <option value="green">verde</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div>
              <label class="form-labe uc-bg-{{color}}" for="campus">Oficina:</label>
              <select name="office" [(ngModel)]="tinyFilter.office" (change)="change($event)" class="form-control uc-bg-gray">
                <option value="" selected>--------</option>
                <option [value]="office.id" *ngFor="let office of offices">{{office.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div>
              <label class="form-labe uc-bg-{{color}}" for="campus">Tipo de solicitud:</label>
              <select name="documenttype" [(ngModel)]="tinyFilter.documentType" (change)="change($event)" class="form-control uc-bg-gray">
                <option value="" selected>--------</option>
                <option [value]="document.id" *ngFor="let document of documents">{{document.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <br><br>
            <div style="padding-top: 8px;">
              <button (click)="showFilter()" class="form-control uc-button uc-button-info">
                Filtros avanzados
              </button>
            </div>
          </div>
        </form>
        <hr>
      </div>
      <div class="col-12">
        <section class="multi-section">
          <header>Mis solicitudes</header>
          <app-request-list [applications]="myApplications" [color]="color" (onSelect)="display($event)"></app-request-list>
        </section>
        <section class="multi-section">
          <header>Otras solicitudes</header>
          <app-request-list [applications]="filterApplications" [color]="color" (onSelect)="display($event)"></app-request-list>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- Dialog box -->
<p-dialog header="Filtrar solicitudes" [(visible)]="showFilterDialog" [modal]="true">
  <ui-report-filter [color]="color" [level]="level" (submit)="getReportData($event)" submitLabel="filtrar"></ui-report-filter>
</p-dialog>
