<nav class="main-header uc-navbar navbar navbar-expand navbar-light">
  <!-- Left navbar links -->
  <div class="uc-bars-action-layout">
    <a class="uc-bars-action" data-widget="pushmenu" 
      href="#" role="button" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </a>
  </div>


  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Notifications Dropdown Menu -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">15</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right uc-message-box">
        <span class="dropdown-item dropdown-header">Datos de usuario</span>
        <div class="dropdown-divider"></div>
        <a routerLink="/auth/salir" class="dropdown-item">
          <i class="fas fa-envelope mr-2"></i> cerrar sesion
          <span class="float-right text-muted text-sm">salir</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-users mr-2"></i> 8 friend requests
          <span class="float-right text-muted text-sm">12 hours</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-file mr-2"></i> 3 new reports
          <span class="float-right text-muted text-sm">2 days</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
      </div>
    </li> -->
    <!-- Navbar Search -->
    <li class="nav-item">
        <div class="uc-name uc-t-bold">{{profile!.name ?? '' | titlecase}}</div>
    </li>
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <img class ="uc-mini-avatar" src="/assets/img/avatar-default.png" alt="a">
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right uc-message-box">
        <header>
          <p class="uc-t-small-bold"> 
            {{profile!.name ?? '' | titlecase}} 
            {{profile!.familyName ?? '' | titlecase}} 
            {{profile!.givenName ?? '' | titlecase}}
          </p>
          <!-- <p class="uc-t-small">Ingenieria de sistemas e informatica</p> -->
        </header>
        <article>
          <div class="d-flex justify-content-around pt-2">
            <div class="">
              <a routerLink="/auth/salir" class="uc-btn uc-btn-red">
                Salir
              </a>
            </div>
          </div>
        </article>
      </div>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        <i class="fas fa-th-large"></i>
      </a>
    </li> -->
  </ul>
</nav>