<xt-grid-form title="Estudiantes"> 
  <xt-grid #maingrid>
    <xt-grid-column title="Código" datatype="Text" valueSource="Codigo"></xt-grid-column>
    <xt-grid-column title="Nombre" datatype="Text" valueSource="Nombre"></xt-grid-column>
    <xt-grid-column title="Fecha de nacimiento" datatype="Date" valueSource="FechaNacimiento"></xt-grid-column>
    <xt-grid-column title="Apellidos" datatype="Text" valueSource="Apellidos"></xt-grid-column>
    <xt-grid-column title="Sexo" datatype="reference" valueSource="Sexo" textSource="Sexo_text" [listid]="4"></xt-grid-column>
    <xt-grid-column title="Tipo de documento" datatype="reference" valueSource="TipoDocumento" textSource="TipoDocumento_text" [listid]="5"></xt-grid-column>
    <xt-grid-column title="Número de documento" datatype="Text" valueSource="NumeroDocumento"></xt-grid-column>
    <xt-grid-column title="Teléfono" datatype="Text" valueSource="Telefono"></xt-grid-column>
    <xt-grid-column title="Correo" datatype="Text" valueSource="Correo"></xt-grid-column>
    <xt-grid-column title="Ubigeo de nacimiento" datatype="Text" valueSource="UbigeoNacimiento"></xt-grid-column>
    <xt-grid-column title="Maestria" datatype="reference" valueSource="Maestria" textSource="Maestria_text"></xt-grid-column>
  </xt-grid>
</xt-grid-form>
