<div class="container-all">
  <div class="data-left">
    <mat-card class="camino-migas">
      <mat-card-header>
        <mat-card-title class="requests-title">
          <a class="vermas-button" routerLink="../solicitudes-summary">
            <mat-icon>arrow_back_alt</mat-icon>
          </a>
          <h5>ENTREVISTAS</h5>
        </mat-card-title>
        <mat-card-subtitle class="requests-subtitle">
          <a routerLink="../">Inicio</a> / Mis Solicitudes
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="demo-inline-calendar-card camino-migas">
      <mat-calendar [(selected)]="selected" (selectedChange)="onSelect($event)" [dateFilter]="dateFilter"></mat-calendar>
    </mat-card>
    <mat-card class="demo-inline-calendar-card cardb">
      <div class="cabecera-info">
        <span class="horario-info">Horarios disponibles para el <span class="fechaCss">{{selected | date: 'dd'}} {{selected | date: 'MMMM'}} {{selected | date: 'yyyy'}}</span></span>
        <button type="button" class="button-add" (click)="addFecha($event)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="content-info">
        <div *ngFor="let fecha of data" class="content-info-item">
          <div class="content-info-close">
            {{fecha.FechaEntrevista | date : "h:mm a"}}
            <button type="button" (click)="deleteFecha($event, fecha)" class="button-close">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="data-right">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="requests-title">
          <h3 class="title-entrevista">Entrevistas programadas</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <section class="item-requests" *ngFor="let fecha of groupDate">
          <span class="fecha-group">{{fecha | date: "MMMM dd YYYY"}}</span>
          <div *ngFor="let dat of datEntrevistas">
            <div class="item-requests-summary" *ngIf="agruparFechas(fecha, dat.Fecha_text)">
              <div class="item-requests-date">
                <span class="label-time">
                  {{ dat?.Fecha_text | date : "h:mm a" }}
                </span>
              </div>
              <div class="item-requests-info">
                <span class="small-text">POSTULANTE</span>
                <span class="info-name">{{ dat?.POSPostulacion_text }}</span>
                <span class="info-program">{{ dat?.Programa_text }}</span>
              </div>
            </div>
          </div>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
