.container-all 
	display: flex 
	flex-direction: row 
	font-family: 'Source Sans Pro' !important
	font-style: normal !important
.data-left 
	width: 48% 
	margin-right: 2%
.camino-migas 
	padding: 0px 16px
.requests-title 
	display: flex 
	gap: .5rem
.data-right 
	width: 50%
.fechaCss 
	color: #000094  
	font-weight: bold  
.horario-info 
	font-weight: bold  
.cardb 
	margin-top: 10px
.cabecera-info 
	display: flex 
	justify-content: space-between 
	align-items: center
.content-info 
	display: grid 
	margin-top: 15px 
	grid-template-columns: repeat(3,33%)
button.button-add 
	border-radius: 50% 
	width: 50px 
	height: 50px 
	color: black 
	background-color: #75d3a8 
	border: none
button.button-add:hover 
	color: #75d3a8 
	background-color: black 
	border: none
.content-info-item  
	width: 80% 
	border: 2px solid #000094 
	border-radius: 8px 
	margin-top: 10px 
	background-color: aliceblue
.content-info-close  
	display: flex  
	justify-content: space-around  
	align-items: center  
	color: #000094  
	font-weight: bold  
	padding: 5px
button.button-close 
	border: none  
	background-color: transparent  
	color: #000094  
	font-weight: bold
.fecha-group 
	font-weight: bold  
	margin: 5px
.title-entrevista 
	color: #000094
.item-requests 
	margin-left: 20px
.item-requests-summary  
	margin: 10px
	display: grid 
	grid-template-columns: minmax(auto, 100px) 1fr .5fr 
	padding: .5rem 
	background-color: #f7f7f7 
	.item-requests-date 
		display: flex 
		justify-content: flex-start 
		.label-time 
			letter-spacing: .75px 
			font-weight: 400 
			font-size: .8rem
.item-requests-info
	display: flex
	flex-direction: column
	justify-content: center
	.small-text
		color: #AB1DAB
		font-size: .7rem
		margin-bottom: 3px
		font-weight: 700
	.info-name
		font-size: 1.3rem
		font-weight: 700
		line-height: 24px
		color: #000
		letter-spacing: 1px
	.info-program
		font-size: .8rem
		font-weight: 400
		line-height: 20px
		color: #000
		letter-spacing: .75px
