<xt-grid-form title="" [minRows]="0">
  <xt-group-panel search title="Filtros" [fieldcols]="3" type="FieldContainer" [expanded]="true">
    <!--<input type="text"/>-->
    <xt-field-cell #FieldSearch id="FieldSearch" placeholder="Buscar Persona, DNI o Sección" datatype="Text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
  </xt-group-panel>
  <xt-grid #maingrid>
    <xt-grid-column title="Concesión" datatype="reference" valueSource="Concesion" textSource="Concesion_text"></xt-grid-column>
    <xt-grid-column title="Programa" datatype="reference" valueSource="Programa" textSource="Programa_text"></xt-grid-column>
  </xt-grid>
</xt-grid-form>
