.requests-title
  display: flex
  gap: .5rem

.button-action
  font-family: 'Source Sans Pro'
  font-style: normal

  font-size: 12px
  line-height: 15px
  letter-spacing: 0.75px
  color: #000094
  border-radius: 50px
  span
    font-weight: 700!important
  &:hover
    background-color: #F1EFF7
