<aside *ngIf="program">
  <ul class="sections">
    <li *ngFor="let sectionCode of program.sections" [ngClass]="{'selected uc-bg-orange2 uc-center': (sectionCode === section)}">
      {{sectionCode}}
    </li>
  </ul>
  <div class="">
    <div class="">
      <div class="card p-3 uc-bg-{{color}}">
        <div class="uc-center">
            <p class="uc-t-bold">{{program.name}}</p>
        </div>
        <!-- <div class="card-body uc-center uc-bg-gray uc-text-dark">
          <p class="card-title">{{program.name}}</p>
        </div> -->
      </div>
    </div>
    <!-- <div class="">
      <div class="card p-3 uc-bg-{{color}}">
        <div class="uc-card-header uc-center">
            <p class="uc-t-bold">{{program.name}}</p>
        </div>
        <div class="card-body uc-center uc-bg-gray uc-text-dark">
          <p class="card-title">{{program.name}}</p>
        </div>
      </div>
    </div> -->
  </div>
</aside>