.selected
    background-color: #63FDCB
.p-0
    padding-left: 2px
    padding-right: 2px

.selected
    border-radius: 1.6em
    padding: 5px 25px 10px
    color: #fff
.sections
    list-style: none
    padding: 0
    margin: 0
    margin-top: 30px
    li
        text-decoration: none
        margin-bottom: 16px
        color: #212322
        font-weight: 400

.uc-options
    label
        border-radius: 1.6em
        padding: 5px 25px 10px
        margin-top: 10px
        color: #fff
    select
        border-radius: 1.6em

// .card
//     color: #fff
//     border-radius: 1.6em
//     .card-header
//         border-radius: 1.6em 1.6em 0 0
//     .card-body
//         border-radius: 0 0 1.6em 1.6em

.card
    color: #fff
    border-radius: 1.6em
    margin-bottom: 3em
    .uc-card-header
        //transform: translateY(10px)
        visibility: visible
        height: .8em
    .card-body
        transform: translateY(50px)
        border-radius: 1.6em
        z-index: 1
