<section class="report-list-container">
  <div *ngFor="let report of reports; let i = index">
    <section class="report-item">
      <div class="row">
        <div class="col-9">
          <header>
            <h5>
              Reporde del: {{report.startAt | date:'dd/MM/yyyy'}}
              al: {{report.endAt | date:'dd/MM/yyyy'}}
            </h5>
            <small>
              Generado el {{report.createdAt | date:'dd/MM/yyyy'}}
              a las {{report.createdAt | date:'hh:mm:ss'}}
              por {{report.createdBy}}
            </small>
          </header>
        </div>
        <div class="col-3">
          <div class="float-rigth">
            <button class="uc-btn uc-btn-sucess" (click)="showReport(i)">Previzualización</button>
            <button class="uc-btn uc-btn-sucess">Descargar</button>
            <button class="uc-btn uc-btn-sucess" (click)="remove(i)">Borrar</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
