<footer class="main-footer uc-t-normal">
  <strong class="uc-t-bold">Copyright &copy; 2021-2022 <a href="#">Universidad Continental</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 0.0.1
  </div>
</footer>