<div>
  <table class="uc-table uc-table-{{color}}" *ngIf="applications">
    <thead>
      <tr>
        <th class="start"><span class="uc-t-bold">Solicitud</span></th>
        <th class="mid"><span class="uc-t-bold">Estudiante</span></th>
        <th class="mid"><span class="uc-t-bold">Descripcion</span></th>
        <th class="mid"><span class="uc-t-bold">Fechas</span></th>
        <th class="end"><span class="uc-t-bold">Criticidad</span></th>
        <!-- <th class="end"><span class="uc-t-bold">Duda</span></th> -->
        <th class="separator"></th>
        <th class="total"><span class="uc-t-bold uc-text-dark">Estado</span></th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="selectApplication(ap)" *ngFor="let ap of applications; let i = index;" class="uc-selectable">

        <td class="start">
          <span class="uc-t-bold">{{ap.id}}</span>
          <br>
          <span class="uc-t-normal">{{ap.document.name}}</span>
        </td>
        <td class="mid">
          <span class="uc-t-bold">{{ap.student.dni}}</span>
          <br>
          <span class="uc-t-small">{{ap.student.names}}</span>
        </td>
        <td class="mid"><p class="uc-t-normal uc-req-desc">{{ap.metaData.description}}</p></td>
        <td class="mid">
          <div class="uc-t-small">
            <span>
              <i class="pi pi-calendar"></i>
              {{ap.requestDate | date:'dd/MM/yyyy'}}
              &nbsp;
            </span>
            <span>
              <i class="pi pi-clock"></i>
              {{ap.requestDate | date:'hh:mm a'}}
            </span>
          </div>
          <div>
            <span class="uc-t-small-bold">Plazo: &nbsp;</span>
            <span class="uc-t-small">{{ap.document.estimatedDays}} dia(s)&nbsp;&nbsp;</span>
            <span class="uc-t-small-bold">{{getUntilDays(ap.requestDate, ap.document.estimatedDays)}}&nbsp; &nbsp;</span>
          </div>
        </td>
        <td class="end">
          <span class="criticaly {{getColor(ap.requestDate, ap.document.estimatedDays)}}"></span>
        </td>
        <!-- <td class="end"><span class="uc-t-normal">{{payment.pay}}</span></td> -->
        <td class="separator"></td>
        <td class="center"><span class="uc-t-small">{{ap.stateName}}</span></td>
      </tr>
    </tbody>
  </table>
</div>