.uc-req-desc
  max-width: 30vw
.criticaly
  width: 32px
  height: 32px
  border-radius: 50%
  display: inline-block
  &.black
    background-color: #f00
    border: solid 1px #000
  &.red
    background-color: #f00
    border: solid 1px #f00
  &.yellow
    background-color: #ff0
    border: solid 1px #ff0
  &.green
    background-color: #0f0
    border: solid 1px #0f0