<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Buscar estudiante </h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">Ingresar como estudiante</li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../">Herramientas</a></li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../../">Inicio</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
  
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    
    <!-- fomulario de busqueda -->
    <div class="row">
      <div class="col-8">
        <div class="input-group mb-3">
          <input type="text" #studentCode class="form-control" placeholder="Código del estudiante" aria-label="Código del estudiante" aria-describedby="button-addon2">
          <button (click)="searchStudent(studentCode.value)" class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
        </div>
      </div>
    </div>
    <!-- informacion del usuario -->
    <div>
      <div *ngIf="loading">
          <!-- <ui-loader></ui-loader> -->
      </div>
      <div *ngIf="studentFound">
        <div>
          <p>Código</p>
          <p>{{studentFound!.code}}</p>
        </div>
        <div>
          <p>Nombres</p>
          <p>{{studentFound!.name}} {{studentFound!.familyName}} {{studentFound!.givenName}}</p>
        </div>
        <div>
          <p>Modalidades</p>
          <div class="row">
            <div class="col-6" *ngFor="let level of studentFound.levels">
              <img [src]="'/assets/img/logos/logo-'+level+'.svg'" alt="continua" width="200px">
            </div>
          </div>
        </div>
        <div>
          <button (click)="getToken()">Ingrar como estudiante</button>
        </div>
      </div>
    </div>
  </div>
</section>