<ul class="uc-choice-profile-list">
  <li *ngFor="let level of levels">
    <a (click)="setLevel(level)">
      <img [src]="getImgByLevel(level)" [alt]="level">
    </a>
  </li>
  <li>
    <a href="/auth/salir">
      Salir
    </a>
  </li>
</ul>
