<xt-group-panel title="Horario de Entrevista" [fieldcols]="2" type="FieldContainer">
  <xt-field-cell #FieldHoraInicio id="FieldHoraInicio" title="Inicio" datatype="Time" [required]="false" [cols]="1" [rows]="1" (blur)="onBlur($event)"></xt-field-cell>
  <xt-field-cell #FieldHoraFin id="FieldHoraFin" title="Fin" datatype="time" [required]="false" [cols]="1" [rows]="1" [disabled]="true"></xt-field-cell>
  <!--<input #fechaInicio id="fechaInicio" matInput (blur)="onBlur($event)" /> -
  <input #fechaFin id="fechaFin" matInput [disabled]="true" />-->
  <xt-cell [cols]="2">
    <mat-dialog-actions align="end">
      <button mat-button (click)="cerrar()">Cancelar</button>
      <button mat-button (click)="guardar()" class="button-save">Guardar</button>
    </mat-dialog-actions>
  </xt-cell>

</xt-group-panel>
