<section class="blank-block">
  <div class="row">
    <div class="col-6 col-xs-12 img-container">
      <img src="/assets/img/icons/syllabus.svg" alt="no-data">
    </div>
    <div class="col-6 col-xs-12 b-right">
      <span class="big-text">
        {{mainText}}
      </span>
    </div>
  </div>
  <aside class="center">
    <span class="uc-text">
      {{text}}
    </span>
  </aside>
</section>