<div class="tabla-horizontal-scroll" fxLayout="column">
  <table class="mat-table xt-grid-table" role="grid" fxFlex>
    <thead>
      <tr *ngIf="groupHeader" class="mat-header-row xt-header-row" role="row">
        <ng-container *ngFor="let cell of configHeader">
          <th
            [attr.colspan]="cell.merge"
            class="mat-header-cell xt-cell xt-header-cell xt-group-header"
          >
            {{ cell.title }}
          </th>
        </ng-container>
      </tr>
      <tr class="mat-header-row xt-header-row" role="row">
        <th
          *ngIf="actionsvisible && selectCheckStart"
          class="mat-header-cell xt-header-cell xt-action-cell"
        >
          <mat-checkbox
            *ngIf="showCheckboxes"
            (change)="onCheckChangeAll($event)"
          ></mat-checkbox
          >{{ nombreColumnaOpcion }}
        </th>
        <th
          class="mat-header-cell xt-cell xt-header-cell"
          *ngFor="let col of columns"
          [title]="col.toolTip"
          [ngClass]="getClass(col)"
          [style.min-width]="col.minWidth"
          [style.width]="col.width"
          [style.max-width]="col.maxWidth"
        >
          <span>{{ col.title }}</span>
          <div [innerHtml]="col.textHtml"></div>
        </th>
        <th
          *ngIf="actionsvisible && selectCheckEnd"
          class="mat-header-cell xt-header-cell xt-action-cell text-center"
        >
          <mat-checkbox
            *ngIf="showCheckboxes"
            (change)="onCheckChangeAll($event)"
          ></mat-checkbox
          >{{ nombreColumnaOpcion }}
        </th>
      </tr>
      <tr class="mat-header-row xt-header-row xt-search-row" *ngIf="showSearch">
        <td *ngIf="actionsvisible" class="mat-cell xt-col1"></td>
        <th
          class="mat-header-cell xt-cell xt-data-cell xt-edited xt-search-cell xt-col{{
            i + 1
          }}"
          *ngFor="let col of columns; let i = index"
        >
          <ng-container
            *ngTemplateOutlet="
              col.EffectiveSearch;
              context: col.getSearchContext()
            "
          ></ng-container>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of data; let rowIndex = index">
        <ng-container
          *ngIf="
            true ||
            pageStyle != 'client' ||
            rowPage(rowIndex + 1, item) == currentPage
          "
        >
          <ng-container *ngFor="let g of getGroups(item)">
            <tr
              class="mat-row xt-data-row xt-group-row xt-level-{{ g.level }}"
              [style.--level]="g.level"
              [style.display]="rowStyle(rowIndex, item)"
            >
              <td class="mat-cell xt-col1" [attr.colspan]="columns.length">
                {{ g.text }}
              </td>
            </tr>
          </ng-container>
          <tr
            class="mat-row xt-data-row"
            [ngClass]="getRowClass(item)"
            [style.--level]="groupColumns.length + 1"
            [style.--indent]="indentFn ? indentFn(item, this) : 0"
            [attr.data-page]="rowPage(rowIndex + 1, item)"
            [style.display]="rowStyle(rowIndex, item)"
            [title]="tooltipColumn ? item[tooltipColumn] : ''"
          >
            <td
              *ngIf="actionsvisible && selectCheckStart"
              class="mat-cell xt-data-cell xt-action-cell xt-col0"
            >
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                <mat-checkbox
                  [(ngModel)]="item.selected"
                  *ngIf="deleteMultiple"
                  (change)="onCheckChange($event, item)"
                >
                </mat-checkbox>

                <xt-button
                  *ngIf="effectiveEditVisible(null, item)"
                  class="xt-act-edit"
                  (buttonclicked)="editRow(item.Id, item)"
                  tipoBoton="mat-icon-button"
                  color=""
                  nombreIcono="edit"
                  matTooltip="Permite editar el registro"
                >
                </xt-button>
                <xt-button
                  *ngIf="effectiveEditLupaVisible(null, item)"
                  class="xt-act-edit_lupa"
                  (buttonclicked)="editRow(item.Id, item)"
                  tipoBoton="mat-icon-button"
                  color=""
                  nombreIcono="search"
                  matTooltip="Permite consultar el registro"
                >
                </xt-button>
                <xt-button
                  action="delete"
                  *ngIf="effectiveDeleteVisible(null, item)"
                  class="xt-act-delete"
                  (buttonclicked)="deleteRow(item.Id, item)"
                  tipoBoton="mat-icon-button"
                  color=""
                  nombreIcono="delete"
                  matTooltip="Permite eliminar el registro"
                >
                </xt-button>
                <ng-container
                  *ngTemplateOutlet="tools; context: getToolsContext(item)"
                ></ng-container>
              </div>
            </td>
            <td
              class="mat-cell xt-cell xt-data-cell xt-col{{ i + 1 }}"
              *ngFor="let col of columns; let i = index"
              [ngClass]="getClass(col)"
            >
              <div
                class="xt-html"
                [innerHtml]="
                  item[col.textSource || col.valueSource]
                    | custompipe : col.datatype
                "
                *ngIf="col.textHtml !== undefined"
              ></div>
              <!--<span *ngIf="!readOnly && col.datatype === 'file'" class="xt-text">{{nombreArchivo(item[col.textSource||col.valueSource])}}</span>-->
              <ng-container
                *ngTemplateOutlet="
                  col.EffectiveEditor;
                  context: col.getContext(item)
                "
              >
              </ng-container>
              <span
                *ngIf="
                  (readOnly || col.EffectiveEditor === undefined) &&
                  !col.textHtml &&
                  col.datatype !== 'file'
                "
                class="xt-text"
                >{{
                  item[col.textSource || col.valueSource]
                    | custompipe : col.datatype
                }}</span
              >
              <!-- para que pinte los fields desactivados y sin valor (se añade el - y se cambia el ngIf sino no pinta) (Revalidar)-->
              <!--<span *ngIf="(readOnly || col.EffectiveEditor === undefined) && col.datatype !== 'file'
                    && (item[col.textSource||col.valueSource] === null || item[col.textSource||col.valueSource] === undefined)"
                    class="xt-text">
                -
              </span>-->
            </td>
            <td
              *ngIf="actionsvisible && selectCheckEnd"
              class="mat-cell xt-data-cell xt-action-cell xt-col0"
            >
              <div class="d-flex justify-content-center align-items-center">
                <mat-checkbox
                  [(ngModel)]="item.selected"
                  *ngIf="deleteMultiple"
                  (change)="onCheckChange($event, item)"
                >
                </mat-checkbox>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="showSubTotals">
            <tr
              *ngFor="let s of getSubTotals(item); let i = index"
              class="xt-data-row xt-subtotal-row xt-level-{{ s.level }}"
              [style.--level]="s.level"
              [style.display]="rowStyle(rowIndex, item)"
            >
              <td *ngIf="actionsvisible" class="xt-col1"></td>
              <td
                *ngFor="let c of s.cells; let cIndex = index"
                class="xt-col{{ cIndex + 1 }}"
                [ngClass]="getClass(columns.toArray()[cIndex])"
              >
                {{ c.text | custompipe : columns.toArray()[cIndex].datatype }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </tbody>
    <tfoot *ngIf="footerVisible || (pageStyle && currentPage != 0)">
      <tr *ngIf="footerVisible" class="xt-footer-row">
        <td
          *ngIf="actionsvisible"
          class="xt-cell xt-footer-cell xt-action-cell"
        ></td>
        <td
          *ngFor="let col of columns; let i = index"
          class="xt-cell xt-footer-cell"
          [ngClass]="getClass(col)"
        >
          <span *ngIf="!col.showTotal && i == 0">
            {{ totalLabel == "" ? "Total" : totalLabel }}
          </span>
          <span class="xt-total" *ngIf="col.showTotal">{{
            columnSum(col, this) | custompipe : col.datatype
          }}</span>
        </td>
      </tr>
      <!-- <tr
        *ngIf="pageStyle && currentPage != 0 && this.data !== undefined && (this.foundRows === undefined || this.foundRows >0)"
        class="xt-footer-row xt-navigation">
        <td *ngIf="actionsvisible" class="xt-cell xt-footer-cell xt-action-cell">
        </td>
        <td class="td-pagination">
          <a title="Primero" *ngIf="currentPage > 1" (click)="go('first')"> &lt;&lt; </a>
          <a title="Anterior" *ngIf="currentPage > 1" (click)="go('previous')"> &lt; </a>
          <a *ngIf=" pageStyle == 'client'">{{currentPage}} / {{totalPages()}}</a>
          <a *ngIf=" pageStyle == 'server'">{{currentPage}}</a>
          <a title="Siguiente"
            *ngIf="(currentPage < totalPages() && pageStyle == 'client') || (pageStyle == 'server' && this.data.length == this.pageSize)"
            (click)="go('next')"> &gt; </a>
          <a title="Último" *ngIf="currentPage < totalPages() && pageStyle=='client'" (click)="go('last')"> &gt;&gt;
          </a>
        </td>
      </tr> -->
    </tfoot>
  </table>

  <!--Inicio paginacion-->
  <div *ngIf="this.foundRows > 0 || this.data?.length > 0 || CountedRows > 0">
    <div
      *ngIf="
        pageStyle &&
        currentPage != 0 &&
        this.data !== undefined &&
        (this.foundRows === undefined || this.foundRows > 0)
      "
      fxLayoutAlign="end"
      class="container-paginacion"
      fxFlex
    >
      <span
        *ngIf="pageStyle == 'server' && CountedRows >= 0"
        class="cantidad-registros"
        >{{ CountedRows }}&nbsp;Registro(s)</span
      >
      <div class="items-paginacion">
        <xt-button
          tipoBoton="mat-icon-button"
          nombreIcono="first_page"
          *ngIf="currentPage > 1"
          (click)="go('first')"
          matTooltip="Ir a la primera página"
        >
        </xt-button>
        <xt-button
          tipoBoton="mat-icon-button"
          nombreIcono="navigate_before"
          *ngIf="currentPage > 1"
          (click)="go('previous')"
          matTooltip="Ir a la página anterior"
        >
        </xt-button>
        <xt-button
          tipoBoton="mat-icon-button"
          nombreIcono="navigate_next"
          *ngIf="
            (currentPage < totalPages() && pageStyle == 'client') ||
            (pageStyle == 'server' && currentPage < totalPages(true))
          "
          (click)="go('next')"
          matTooltip="Ir a la página siguiente"
        ></xt-button>
        <xt-button
          tipoBoton="mat-icon-button"
          nombreIcono="last_page"
          *ngIf="currentPage < totalPages() && pageStyle == 'client'"
          (click)="go('last')"
          matTooltip="Ir a la última página"
        >
        </xt-button>
        <xt-button
          tipoBoton="mat-icon-button"
          nombreIcono="last_page"
          *ngIf="currentPage < totalPages(true) && pageStyle == 'server'"
          (click)="go('last')"
          matTooltip="Ir a la última página"
        >
        </xt-button>
        &nbsp;
        <small>
          <span *ngIf="pageStyle == 'client'"
            >{{ currentPage }} / {{ totalPages() }}</span
          >
          <span *ngIf="pageStyle == 'server'"
            >{{ currentPage }}
            <span *ngIf="totalPages(true) != 0">
              / {{ totalPages(true) }}</span
            ></span
          >
        </small>
      </div>
    </div>
  </div>

  <!--Fin paginacion-->
  <!-- HDT Inicio.06.10.2021: Sin esta sección los estilos de Angular Material para las mat-table no se aplican -->
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="display: none"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <!-- HDT Fin -->
</div>
