.xt-navigation {
  margin: 6px;
  font-weight: bold;
  font-size: 12px;
}

.xt-navigation a {
  margin: 6px;
  cursor: pointer;
  text-decoration: none;
  color: initial !important;
}

table {
  position: relative;
  width: 100%;
}

.container-paginacion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
}
.cantidad-registros {
  margin: 1.5rem 0;
  align-self: center;
  padding-left: 35px;
  background-color: #fafafa;
}
.items-paginacion {
  width: 100%;
  text-align: right;
  margin: 1.5rem 0;
  justify-content: flex-end;
  background-color: #fafafa;
  padding-right: 15px;
}

/* Columna congelada */

/* table {
  border-collapse: collapse; 
  caption-side: top;
}

caption {
  text-align: left; position: fixed; left: 0; top:0
}

.table-container {
  position: relative;
  width: 100%;
  overflow: scroll;
}

thead th, 
tfoot th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

thead th:first-child,
tfoot th:first-child {
  left: 0;
  z-index: 3;
}

tfoot {
  position: -webkit-sticky;
  bottom: 0;
  z-index: 2;
}

tfoot th {
  position: sticky;
  bottom: 0;
  z-index: 2;
}

tfoot td:first-child {
  z-index: 3;
}

tbody {
  overflow: scroll;
}

/* MAKE LEFT COLUMN FIXEZ */
/* tr > :first-child {
  position: -webkit-sticky;
  position: sticky; 
  left: 0; 
}  */
