<xt-group-panel title="Alerta" [fieldcols]="1" type="FieldContainer">
  <label>¿Está seguro que desea eliminar esta fecha?</label>
  <xt-cell [cols]="2">
    <mat-dialog-actions align="end">
      <button mat-button (click)="cerrar()">Cancelar</button>
      <button mat-button (click)="guardar()" class="button-save">Aceptar</button>
    </mat-dialog-actions>
  </xt-cell>

</xt-group-panel>
