<div class="contenedor-titulo" [ngClass]="{'mat-elevation-z1': tieneElevacion}" fxLayout="column" fxLayoutAlign="center start" fxFlex>
  <div fxFlex>
    <h3><strong>{{ title }}</strong></h3>
    <p *ngIf="titleSolicitudReactivacion" [innerHTML]="this.titleLong">
    </p>
  </div>  
</div>

<mat-divider></mat-divider>

<div class="xt-panel xt-tools">
  <xt-toolbar *ngIf="toolbarVisible">
    <xt-button action="insert" *ngIf="insertvisible" tipoBoton="mat-mini-fab" color="primary" nombreIcono="add"
      matTooltip="Permite crear un registro" (buttonclicked)="handleClick('insert')">
    </xt-button>
    <xt-button action="deleteAll" nombreIcono="delete_sweep" *ngIf="deleteallvisible" (buttonclicked)="handleClick('deleteAll')">&nbsp;Eliminar todo
    </xt-button>
    <xt-button action="delete" nombreIcono="delete_outline" *ngIf="deleteMultiple" (buttonclicked)="handleClick('delete')">&nbsp;Eliminar</xt-button>
    <xt-button action="search" color="primary" nombreIcono="search" *ngIf="searchvisible" (buttonclicked)="handleClick('search')">&nbsp;Buscar</xt-button>
    <xt-button action="export" nombreIcono="send_and_archive" *ngIf="exportvisible" (buttonclicked)="handleClick('export')">&nbsp;Exportar Excel</xt-button>
    <ng-content *ngIf="toolVisible" select="[tool]"></ng-content>
  </xt-toolbar>
</div>

<div class="xt-panel xt-search">
  <xt-field-cell *ngIf="searchStyle=='text'" #SearchText id="SearchText" title="Texto" datatype="text" [required]="false"
    [cols]="2" [rows]="1" [maxlength]="100"></xt-field-cell>
  <ng-content select="[search]"></ng-content>
</div>

<br />

<div fxLayout="row" *ngIf="enProceso">
  <mat-progress-bar mode="query" color="accent" fxFlex></mat-progress-bar>
  <br />
</div>

<div class="xt-panel xt-grid" *ngIf="!enProceso">
  <ng-content select="xt-grid" fxFlex></ng-content>
  <ng-content select="[grid]" fxFlex></ng-content>
</div>

<div class="xt-panel xt-footer">
</div>
