<xt-edit-form title1="Proceso de graduación" title2="Nuevo">
  <xt-button tool (click)="fnValidar()">Validar</xt-button>
  <xt-button tool (click)="fnInscribirPlan()">Inscribir plan de tesis</xt-button>
  <xt-button tool (click)="fnFinalizarEtapa()">Finalizar etapa 1</xt-button>
  <xt-group-panel title="" [fieldcols]="6" type="FieldContainer">
    <xt-cell [rows]="7" [cols]="6">
      <app-integrante #GridIntegrante title="Selección de integrantes" keyname="PROGraduacion" [keyvalue]="id"></app-integrante>
    </xt-cell>
  </xt-group-panel>
  <xt-group-panel title="Registro de Tesis" [fieldcols]="6" type="FieldContainer">
    <xt-field-cell #FieldGestionTesis id="FieldGestionTesis" title="Gestión de Tesis" datatype="reference" [required]="true" [cols]="2" [rows]="1" [listid]="1001"></xt-field-cell>
    <xt-field-cell #FieldNumeroGrupo id="FieldNumeroGrupo" title="Número de grupo" datatype="text" [required]="true" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldFechaInscripcion id="FieldFechaInscripcion" title="Fecha de inscripción" datatype="Date" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldTituloTesis id="FieldTituloTesis" title="Título de tesis" datatype="text" [required]="true" [cols]="6" [rows]="1"></xt-field-cell>
    <!--<xt-field-cell #FieldEstudiante id="FieldEstudiante" title="Estudiante" datatype="reference" [required]="true" [cols]="1" [rows]="1"></xt-field-cell>-->
    <!--<xt-field-cell #FieldCodigo id="FieldCodigo" title="Código" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>-->
    <xt-field-cell #FieldEtapa id="FieldEtapa" title="Etapa" datatype="reference" [required]="false" [cols]="2" [rows]="1" [listid]="10007" [disabled]="true"></xt-field-cell>
  </xt-group-panel>
  <!--<xt-group-panel title="" [fieldcols]="2" type="FieldContainer">
    <xt-cell [cols]="2">
      <mat-tab-group>
        <mat-tab label="Etapa 1">
          <xt-group-panel title="." [fieldcols]="2" type="FieldContainer">
            <xt-group-panel title="Registro de Revisor" [fieldcols]="6" type="FieldContainer">
              <xt-cell [rows]="6" [cols]="6">
                <app-graduacionobservacion #GridGraduacionObservacion title="Observaciónes" keyname="PROGraduacion" [keyvalue]="id"></app-graduacionobservacion>
              </xt-cell>
              <xt-field-cell #FieldFechaFinalizacionUltimaAsignatura id="FieldFechaFinalizacionUltimaAsignatura" title="Fecha finalización últ. asignatura" datatype="date" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
              <xt-field-cell #FieldFechaLimiteGraduarse id="FieldFechaLimiteGraduarse" title="Fecha Límite para graduarse" datatype="date" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
              <xt-field-cell #FieldNotaArea id="FieldNotaArea" title="Notas del Área" datatype="text" [required]="false" [cols]="4" [rows]="1"></xt-field-cell>
              <xt-cell [rows]="6" [cols]="6">
                <app-graduacionrequisito #GridGraduacionRequisito title="Requisitos" keyname="PROGraduacion" [keyvalue]="id"></app-graduacionrequisito>
              </xt-cell>
            </xt-group-panel>
            <xt-group-panel title="." [fieldcols]="2" type="FieldContainer">
            </xt-group-panel>
            <xt-group-panel title="Título" [fieldcols]="2" type="FieldContainer">
            </xt-group-panel>
          </xt-group-panel>
        </mat-tab>
        <mat-tab label="Etapa 2">
          <xt-group-panel title="." [fieldcols]="2" type="FieldContainer">
            <xt-group-panel title="Registro de Docente asesor" [fieldcols]="2" type="FieldContainer">
              <xt-field-cell #FieldNotaAreaEtapa2 id="FieldNotaAreaEtapa2" title="Nota Área" datatype="text" [required]="false" [cols]="6" [rows]="1"></xt-field-cell>
            </xt-group-panel>
          </xt-group-panel>
        </mat-tab>
        <mat-tab label="Etapa 3">
          <xt-group-panel title="." [fieldcols]="2" type="FieldContainer">
            <xt-group-panel title="Registro de asignatura" [fieldcols]="6" type="FieldContainer">
              <xt-cell [rows]="6" [cols]="6">
                <app-graduacionresponsable #GridGraduacionResponsable title="Responsable" keyname="PROGraduacion" [keyvalue]="id"></app-graduacionresponsable>
              </xt-cell>
              <xt-field-cell #FieldNotaAreaEtapa3 id="FieldNotaAreaEtapa3" title="Nota Área" datatype="text" [required]="false" [cols]="6" [rows]="1"></xt-field-cell>
            </xt-group-panel>
          </xt-group-panel>
        </mat-tab>
        <mat-tab label="Etapa 4">
          <xt-group-panel title="." [fieldcols]="2" type="FieldContainer">
            <xt-group-panel title="" [fieldcols]="6" type="FieldContainer">
              <xt-cell [rows]="6" [cols]="6">
                <app-graduacionsustentacion #GridGraduacionSustentacion title="Sustentación" keyname="PROGraduacion" [keyvalue]="id"></app-graduacionsustentacion>
              </xt-cell>
              <xt-field-cell #FieldAsistencia id="FieldAsistencia" title="Asistencia del estudiante" datatype="reference" [required]="false" [cols]="2" [rows]="1" [listid]="1018"></xt-field-cell>
              <xt-field-cell #FieldEstadoSustentacion id="FieldEstadoSustentacion" title="Estado Sustentación" datatype="reference" [required]="false" [cols]="2" [rows]="1" [listid]="1017"></xt-field-cell>
              <xt-field-cell #FieldEstadoSustentacionFinal id="FieldEstadoSustentacionFinal" title="Estado Sustentación Final" datatype="reference" [required]="false" [cols]="2" [rows]="1" [listid]="1024"></xt-field-cell>
            </xt-group-panel>
          </xt-group-panel>
        </mat-tab>
        <mat-tab label="Diploma">
          <xt-group-panel title="." [fieldcols]="2" type="FieldContainer">
            <xt-group-panel title="Estado de emisión de diploma" [fieldcols]="2" type="FieldContainer">
              <xt-field-cell #FieldEstadoExpediente id="FieldEstadoExpediente" title="Estado de Expediente" datatype="reference" [required]="false" [cols]="1" [rows]="1" [listid]="1025"></xt-field-cell>
              <xt-field-cell #FieldFechaExpediente id="FieldFechaExpediente" title="Fecha de envió del  Expediente" datatype="date" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
              <xt-field-cell #FieldEstadoDiploma id="FieldEstadoDiploma" title="Estado del Diploma" datatype="reference" [required]="false" [cols]="1" [rows]="1" [listid]="1026"></xt-field-cell>
              <xt-field-cell #FieldFechaDiploma id="FieldFechaDiploma" title="Fecha entrega de diploma" datatype="date" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
            </xt-group-panel>
          </xt-group-panel>
        </mat-tab>
      </mat-tab-group>
    </xt-cell>
  </xt-group-panel>-->
</xt-edit-form>
