<div [ngSwitch]="properties?.template">
  <section *ngSwitchCase="types.imageOnly">
    <div class="uc-banner-layout" style="background-image: url('{{properties!.image}}')">
      img
    </div>
  </section>
  <section *ngSwitchCase="types.thalf">
    <div class="row">
      <div class="col-6">
        <div class="uc-banner-layout" style="background-image: url('{{properties!.image}}')"></div>
      </div>
      <div class="col-6">
        <header> {{properties?.header}}</header>
        <div>
          {{properties?.content}}
        </div>
        <footer>
          {{properties?.footer}}
        </footer>
      </div>
    </div>
  </section>
  <section *ngSwitchCase="types.t3q">
    <div class="row">
      <div class="col-8">
        <div class="uc-banner-layout" style="background-image: url('{{properties!.image}}')"></div>
      </div>
      <div class="col-4">
        <p>
          {{properties?.content}}
        </p>
      </div>
    </div>
  </section>
  <section *ngSwitchDefault>...</section>
</div>