<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Administrar Permisos </h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">Administrar Permisos</li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../">Administración</a></li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../../">Inicio</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
  
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div *ngIf="loading">
        <ui-loader></ui-loader>
    </div>
    <div *ngIf="modules && modules.length > 0">
      <div class="row">
        <!-- list modules -->
        <div class="col-4">
          <h3>Modulos de la app</h3>
          <div *ngFor="let module of modules">
            <section (click)="selectModule(module)" class="item" [ngClass]="{'item-selected': moduleSelected?.id == module.id}">
              <strong>
                {{module.name}}
              </strong>
              <p>{{module.description}}</p>
            </section>
          </div>
        </div>
        <div class="col-4" [hidden]="!moduleSelected">
          <h3>Sedes</h3>
          <div *ngFor="let campus of campuses">
            <section (click)="selectCampus(campus)" class="item" [ngClass]="{'item-selected': campusSelected?.id == campus.id}">
              <strong>
                {{campus.code}}
              </strong>
              <p>{{campus.name}}</p>
            </section>
          </div>
        </div>
        <div class="col-4" *ngIf="users">
          <h3>Ususarios</h3>
          <div>
            <label for="user">Nombre de usuario</label>
            <div class="input-group mb-3">
              <input type="text" #userToAdd class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button (click)="addUser(userToAdd.value)" class="btn btn-outline-secondary" type="button" id="button-addon2">Añadir</button>
            </div>
          </div>
          <div *ngIf="users.length > 0">
            <table>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>
                    {{user.userCode}} <br>
                    {{user.name}} {{user.familyName}} {{user.givenName}}
                  </td>
                  <td>
                    <button (click)="removeUser(user.userCode)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="users.length == 0">
            no hay usuarios en este modulo/campus
          </div>
        </div>
        <div class="col-4" *ngIf="!users">
          Elija una sede
        </div>
      </div>
    </div>
  </div>
</section>
