/* Definición de alertas */

.alerta-neutral {
  font-size: 17px;
  background-color: #ffffff;
  color: #000000;
}

.alerta-danger {
  font-size: 17px;
  background-color: #bf4852;
  color: #ffffff;
}

.alerta-success {
  font-size: 17px;
  background-color: #d4edda;
  /*color: #155724;*/
  color: #000000;
}

.alerta-info {
    font-size: 17px;
    background-color: #cce5ff;
    /*color: #2b639e;*/
    color: #000000;
}

.alerta-warning {
  font-size: 17px;
  background-color: #fff3cd;
  /*color: #ae9548;*/
  color: #000000;
}
.alerta-observacion {
  font-size: 17px;
  /*width: 100px;
  height: 100px;*/
  background-color: #fff3cd;
  animation-name: exampleObservacion;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes exampleObservacion {
  0% {
    background-color: #fff3cd;
  }
  100% {
    background-color: #e6b132;
  }
}
.alerta-dark {
  font-size: 17px;
  background-color: #343a40;
  color: #ffffff;
}

.alerta-secondary {
  font-size: 17px;
  background-color: #e0e0e0;
  color: #3b3f42;
  text-align: center;
}

.alerta {
    padding: 20px;
    margin-bottom: 15px;
    text-align: left;
    text-align: left;
}
