.md-badge-alerta-danger {
    background-color: #f8d7da;
    color: #b67b80;
    margin-bottom: 15px;
    text-align: center;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 4px;
}

.md-badge-alerta-success {
    background-color: #d4edda;
    color: #155724;
    margin-bottom: 15px;
    text-align: center;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 4px;
}

.md-badge-alerta-info {
    background-color: #cce5ff;
    color: #2b639e;
    margin-bottom: 15px;
    text-align: center;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 4px;
}

.md-badge-alerta-warning {
    background-color: #fff3cd;
    color: #ae9548;
    margin-bottom: 15px;
    text-align: center;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 4px;
}

.md-badge-alerta-secondary {
    background-color: #e0e0e0;
    color: #3b3f42;
    margin-bottom: 15px;
    text-align: center;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 4px;
}

.md-badge-alerta-neutral {
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 4px;
}

.md-badge-alerta {
    background-color: #f5f5f5;
    margin-bottom: 15px;
    text-align: center;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 4px;
}

.md-badge-alerta-especial-secondary {
    background-color: #e0e0e0;
    color: #3b3f42;
    margin-bottom: 10px;
    text-align: center;
    margin: 4px;
    padding: 4px 4px;
    border-radius: 5px;
}

.md-badge-alerta-especial-dark {
    background-color: #343a40;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    margin: 4px;
    padding: 4px 4px;
    border-radius: 5px;
}

