<ng-container [ngSwitch]="datatype | lowercase">
  <ng-container *ngSwitchCase="'reference'">
    <mat-form-field *ngIf="effectiveDesigner != 'toggle' && effectiveDesigner != 'checkbox'">
      <mat-label id="{{id}}Label">{{title}}</mat-label>
      <!--<ng-container [ngSwitch]="effectiveDesigner">-->
      <!--<ng-container *ngSwitchCase="'autocomplete'">
        <input #ACTextControl id="{{id}}" matInput placeholder="" [disabled]="disabled" (blur)="onACTextBlur($event)"
          [matAutocomplete]="RefControlAC">
        <mat-autocomplete #RefControlAC="matAutocomplete" autoActiveFirstOption id="{{id}}"
          (optionSelected)="onOptionSelected($event)">
          <mat-option [id]="item.Id" *ngFor="let item of filteredDatasource | async" [value]="item.RowText">
            {{item.RowText}}
          </mat-option>
        </mat-autocomplete>*ngSwitchDefault
      </ng-container>-->
      <mat-select #RefControl id="{{id}}" [disabled]="disabled"
                  (selectionChange)="onSelectionChange($event)" (blur)="onBlur($event)">
        <mat-option [value]="0">
          <!-- (Seleccione un valor) -->
          {{optionDefault}}
        </mat-option>
        <mat-option *ngFor="let item of datasource" [value]="item.Id">
          {{item.RowText}}
        </mat-option>
      </mat-select>
      <!--</ng-container>-->

    </mat-form-field>
    <ng-container *ngIf="effectiveDesigner == 'toggle'">
      <mat-slide-toggle id="{{id}}" (change)="onToggleChange($event)" [disabled]="disabled">{{title}}</mat-slide-toggle>
    </ng-container>
    <ng-container *ngIf="effectiveDesigner == 'checkbox'">
      <mat-checkbox id="{{id}}" (change)="onCheckChange($event)" [disabled]="disabled">
        {{title}}
      </mat-checkbox> <!-- color="primary" -->
    </ng-container>

  </ng-container>
  <ng-container *ngSwitchCase="'file'">
    <div class="mat-form-field-wrapper xt-display-flex-column">
      <p *ngIf="titleArchivo" [innerHTML]="this.titleArchivoSaltoLinea"></p>
      <div class="xt-file-panel xt-display-flex mat-form-field-flex">
        <ng-container *ngIf="!disabled">
          <span *ngIf="fileValue !== undefined && id !== undefined, else cargar" class="xt-delete-icon" (click)="onDeleteFile($event)"></span>
        </ng-container>
        <a *ngIf="fileValue !== undefined && id !== undefined, else onlyTitle"
           href="{{baseHref}}api/PNTDeclJuradaInversion/download/{{ filenoderef }}/{{filealias}}">
          {{fileLabel}}
        </a>
        <ng-template #onlyTitle>
          <span class="xt-label">{{fileLabel}}</span>
        </ng-template>
        <ng-template #cargar>
          <label class="xt-upload-icon" for="{{id | lowercase}}"></label>
          <!--<label class="xt-upload-icon" for="fieldDocumento"></label>-->
          <!--<input id="fieldDocumento" #FileControl type="file" [disabled]="disabled" [hidden]="true" (change)="onFileChange($event)">-->
        </ng-template>
        <input id="{{id | lowercase}}" #FileControl type="file" [disabled]="disabled" [hidden]="true"
               (change)="onFileChange($event)">

        <!--<a *ngIf="fileValue && id != 0"
        href="/api/PNTDeclJuradaInversion/download/{{ filenoderef }}/{{filealias}}">-->
        <!-- apunta a PNTDeclJuradaInversion porque no hay un espacio especifico para escargar, asi que se usa el de pntdeclj...-->
        <!--Descargar
        </a>-->
      </div>

    </div>
  </ng-container>
  <mat-form-field *ngSwitchCase="'time'">
    <mat-label id="{{id}}Label">{{title}}</mat-label>
    <input #TimeControl id="{{id}}" matInput  [disabled]="disabled"
           [attr.maxlength]="9" (blur)="onBlur($event)">
  </mat-form-field>



  <ng-container *ngSwitchCase="'date'">
    <ng-container [ngSwitch]="designer">
      <ng-container *ngSwitchCase="'daymonth'">
        <!--elegir solo meses y días de un año (no años)-->
        <mat-form-field dateFormat3>
          <mat-label id="{{id}}Label">{{title}}</mat-label>
          <!--<input #DateControl id="{{id}}" type="date" matInput placeholder="">-->
          <input id="{{id}}" #DateInput [min]="minDate()" [max]="maxDate()"
                 matInput [matDatepicker]="datepicker3" [disabled]="disabled"
                 (blur)="onBlur($event)" (dateChange)="onDateChange($event)">
          <!--<input id="{{id}}" #DateInput matInput [matDatepicker]="datepicker" [disabled]="disabled" (dateChange)="onDateChange($event)">-->
          <mat-datepicker-toggle matSuffix [for]="datepicker3"></mat-datepicker-toggle>
          <mat-datepicker #DateControlDM #datepicker3 startView="year"></mat-datepicker>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="'monthyear'">
        <!--elegir años y mesese (no dias) - cada vez que se cambia el mes o año llamar a un metodo especifico, darle formato de fecha y guardar, al cargar la pnt y si es monthyear que se divida los valores (datepicker igual va a tener el valor pero estará hidden)-->
        <div class="monthyear">

          <mat-form-field class="matMonthyear">
            <mat-label id="{{id}}Label">Indique el año</mat-label>
            <mat-select #RefControlYear [disabled]="disabled"
                        (selectionChange)="chosenYearHandler($event, DateInput)">
              <!--<mat-option [value]="">
                (Año)
              </mat-option>-->
              <mat-option *ngFor="let anio of effectiveYearList()" [value]="anio.value">
                {{anio.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!--|| anioSelected === ''-->
          <mat-form-field [hidden]="anioSelected === null" class="matMonthyear">
            <mat-label id="{{id}}Label">Indique el mes</mat-label>
            <mat-select #RefControlMonth [disabled]="disabled"
                        (selectionChange)="chosenMonthHandler($event, DateInput)">
              <!--<mat-option [value]="">
                (Mes)
              </mat-option>-->
              <mat-option *ngFor="let mes of meses" [value]="mes.value">
                {{mes.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <mat-form-field dateFormat2 [hidden]="true">
          <mat-label id="{{id}}Label">{{title}}</mat-label>

          <!-- [hidden]="true" <input #DateControl id="{{id}}" type="date" matInput placeholder="">-->
          <input id="{{id}}" #DateInput matInput [matDatepicker]="datepicker2"
                 [disabled]="disabled" (blur)="onBlur($event)" (dateChange)="onDateChange($event)">
          <!--<input id="{{id}}" #DateInput matInput [matDatepicker]="datepicker" [disabled]="disabled" (dateChange)="onDateChange($event)">-->
          <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
          <mat-datepicker #DateControlMY #datepicker2 startView="multi-year"
                          (monthSelected)="chosenMonthHandler($event, datepicker2)" panelClass="example-month-picker">
            (yearSelected)="CustomDateFormat2.chosenYearHandler($event)"
          </mat-datepicker>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <!--fecha default -->
        <mat-form-field>
          <mat-label id="{{id}}Label">{{title}}</mat-label>
          <!--<input #DateControl id="{{id}}" type="date" matInput placeholder="">[min]="minDate" [max]="maxDate" [matDatepickerFilter]="myFilterMinMax"-->
          <input id="{{id}}" #DateInput [min]="minDate()" [max]="maxDate()"
                 matInput [matDatepicker]="datepicker" [disabled]="disabled"
                 (blur)="onBlur($event)" (dateChange)="onDateChange($event)">
          <!--<input id="{{id}}" #DateInput matInput [matDatepicker]="datepicker" [disabled]="disabled" (dateChange)="onDateChange($event)">-->
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #DateControl #datepicker></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </ng-container>
  </ng-container>



  <mat-form-field *ngSwitchCase="'datetime'">
    <mat-label id="{{id}}Label">>{{title}}</mat-label>

    <!--<input #DateTimeControl id="{{id}}" type="date" matInput placeholder="">-->
    <input id="{{id}}" #DateTimeInput matInput [matDatepicker]="picker"
           [disabled]="disabled" (blur)="onBlur($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #DateTimeControl #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngSwitchCase="'integer'">
    <mat-label id="{{id}}Label">{{title}}</mat-label>
    <input #IntegerControl id="{{id}}" type="number" step="1" matInput  maxlength="12"
           min="{{minval}}" max="{{maxval}}" [disabled]="disabled" (focus)="onFocus($event)" (blur)="onBlur($event)" (change)="onNumberChange($event)"
           (keyup)="onKeyupEvent($event)">
  </mat-form-field>
  <mat-form-field *ngSwitchCase="'decimal'">
    <mat-label id="{{id}}Label">{{title}}</mat-label>
    <input #DecimalControl id="{{id}}" type="number" step="1" matInput  maxlength="15"
           min="{{minval}}" max="{{maxval}}" [disabled]="disabled" (focus)="onFocus($event)" (blur)="onBlur($event)" (change)="onNumberChange($event)"
           (keyup)="onKeyupEvent($event)">
  </mat-form-field>
  <ng-container *ngSwitchDefault>
    <ng-container *ngIf="designer != 'textarea' && designer != 'password'">
      <mat-form-field>
        <mat-label id="{{id}}Label">{{title}}  </mat-label>
        <input #TextControl id="{{id}}" matInput  [disabled]="disabled"
               [attr.maxlength]="maxlength" (blur)="onBlur($event)" (change)="onTextChange($event)" />
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="designer == 'password'">
      <mat-form-field>
        <mat-label id="{{id}}Label">{{title}}</mat-label>
        <input #TextControl id="{{id}}" [type]="esconderClave ? 'password' : 'text'" matInput  [disabled]="disabled"
               [attr.maxlength]="maxlength" (blur)="onBlur($event)" (change)="onTextChange($event)" />
        <button mat-icon-button matSuffix (click)="esconderClave = !esconderClave"
                [attr.aria-label]="'Esconder la clave'" [attr.aria-pressed]="esconderClave">
          <mat-icon>{{esconderClave ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="designer == 'textarea'">
      <mat-form-field>
        <mat-label id="{{id}}Label">{{title}} ({{characterCount}})</mat-label>
        <textarea #TextControlTA id="{{id}}" matInput [disabled]="disabled"
                  [attr.maxlength]="maxlength" (blur)="onBlur($event)" (change)="onTextChange($event)"
                  (keyup)="onKeyupEvent($event)"></textarea>
        <!--<label>{{characterCount}}</label>-->
      </mat-form-field>
    </ng-container>
  </ng-container>
</ng-container>
