:host {
  display: block;
  height: 100%;
}

.xt-invisible {
  display: none;
}


.mat-form-field-wrapper {
  padding: 2px;
}

.xt-display-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  overflow: visible;
  /*margin-top: 10px;*/
}

.xt-display-flex-column {
  display: flex;
  flex-direction: column;
  /*margin-top: 10px;*/
}

.xt-delete-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

  .xt-delete-icon:before {
    content: 'delete_forever';
    font-family: 'Material Icons';
    font-size: 20px;
    cursor: pointer;
    margin-right: 0.5rem;
  }

.xt-upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

  .xt-upload-icon:before {
    content: 'file_upload';
    font-family: 'Material Icons';
    font-size: 20px;
    cursor: pointer;
  }

.monthyear {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*flex-basis: 50%;*/
  flex-direction: row;
  align-content: center;
  align-items: center
}

.matMonthyear {
  width: 45% !important;
}
/*input  {
  border: solid 1px black;

}*/
