<xt-edit-form title1="Integrante" title2="Nuevo">
  <!--<xt-group-panel title="" [fieldcols]="2" type="FieldContainer">
  </xt-group-panel>-->
  <xt-group-panel title="Datos" [fieldcols]="2" type="FieldContainer">
    <xt-field-cell #FieldEstudiante id="FieldEstudiante" title="Código" datatype="reference" [required]="false" [cols]="1" [rows]="1" (selectionChange)="searchEstudiante($event)"></xt-field-cell>
    <xt-field-cell #FieldPROGraduacion id="FieldPROGraduacion" title="Graduación" datatype="reference" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldNombre id="FieldNombre" title="Nombres" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldApellidos id="FieldApellidos" title="Apellidos" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldSeccion id="FieldSeccion" title="Sección" datatype="reference" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldSede id="FieldSede" title="Sede" datatype="reference" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldModalidad id="FieldModalidad" title="Modalidad" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldNombreMaestria id="FieldNombreMaestria" title="Nombre de Maestría" datatype="reference" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldPeriodoAcademico id="FieldPeriodoAcademico" title="Periodo Académico" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <!--<xt-field-cell #FieldGraduacionvista id="FieldGraduacionvista" title="Graduaciónvista" datatype="reference" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>-->
  </xt-group-panel>
</xt-edit-form>
