<div class="wrapper uc-layout uc-layout-student">
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img
      class="animation__shake"
      src="/assets/img/logos/logo-horizontal-black.svg"
      alt="UC"
      height="60"
    />
  </div>

  <!-- Navbar -->
  <ui-nav-bar></ui-nav-bar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <ui-side-bar
    [pathModule]="'/comercial/'"
    [modules]="modules"
    [campuses]="campuses"
  ></ui-side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->
  <ui-footer></ui-footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
