<article class="uc-center">
  <div *ngIf="requestState === status.LOADING">
    <ui-loader></ui-loader>
  </div>
  <div *ngIf="requestState === status.ERROR">
    <ui-error-block></ui-error-block>
  </div>
</article>
<form action="" class="uc-form" *ngIf="requestState === status.DONE">
  <div class="row">
    <div class="col-4">
      <div>
        <label class="form-labe uc-bg-{{color}}" for="campus">Sede:</label>
        <select name="campus" [(ngModel)]="filter.campus" class="form-control uc-bg-gray">
          <option value="" selected>--------</option>
          <option [value]="campus.codeBanner" *ngFor="let campus of filterData.campuses">{{campus.codeApec}}</option>
        </select>
      </div>
      <div>
        <label class="form-labe uc-bg-{{color}}" for="requestType">Tipo de solicitud:</label>
        <select name="requestType" [(ngModel)]="filter.document" class="form-control uc-bg-gray">
          <option value="0" selected>--------</option>
          <option [value]="document.id" *ngFor="let document of filterData.documents">{{document.name}}</option>
        </select>
      </div>
      <div>
        <label class="form-labe uc-bg-{{color}}" for="dni">DNI del Alumno:</label>
        <input type="text" [(ngModel)]="filter.dni" class="form-control uc-input" name="dni">
      </div>
      <div>
        <label class="form-labe uc-bg-{{color}}" for="lastname">Apellidos:</label>
        <input type="text" [(ngModel)]="filter.studentName" class="form-control uc-input" name="lastname" id="">
      </div>
    </div>
    <div class="col-4">
      <div>
        <label class="form-labe uc-bg-{{color}}" for="state">Estados</label>
        <select name="state" [(ngModel)]="filter.state" id="" class="form-control uc-bg-gray">
          <option value="" selected>--------</option>
          <option [value]="documentState" *ngFor="let documentState of filterData.documentStates">{{documentState}}</option>
        </select>
      </div>
      <div>
        <label class="form-labe uc-bg-{{color}}" for="programType">Tipo de programa</label>
        <select name="programType" [(ngModel)]="programType" (ngModelChange)="changeTypeProgram($event)" id="" class="form-control uc-bg-gray">
          <option value="" selected>--------</option>
          <option [value]="type.code" *ngFor="let type of filterData.programs">{{type.name}}</option>
        </select>
      </div>
      <div>
        <label class="form-labe uc-bg-{{color}}" for="program">Programa:</label>
        <select name="program" [(ngModel)]="filter.program" id="" class="form-control uc-bg-gray">
          <option value="" selected>--------</option>
          <option [value]="program.code" *ngFor="let program of programs">{{program.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div>
        <label class="form-labe uc-bg-{{color}}" for="office">Oficina</label>
        <select name="office" [(ngModel)]="filter.office" id="" class="form-control uc-bg-gray">
          <option value="0" selected>--------</option>
          <option [value]="office.id" *ngFor="let office of filterData.offices">{{office.name}}</option>
        </select>
      </div>
      <div>
        <label class="form-labe uc-bg-{{color}}" for="term">Periodo:</label>
        <select name="term"  [(ngModel)]="filter.term" id="" class="form-control uc-bg-gray">
          <option value="" selected>--------</option>
          <option [value]="term" *ngFor="let term of filterData.terms">{{term}}</option>
        </select>
      </div>
      <div>
        <label class="form-labe uc-bg-{{color}}" for="attendedBy">Atendido por:</label>
        <select name="executive" [(ngModel)]="filter.attendedBy" class="form-control uc-bg-gray">
          <option value="" selected>--------</option>
          <option [value]="executive.code" *ngFor="let executive of filterData.executives">{{executive.code}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="">
        <label class="form-labe uc-bg-{{color}}" for="">Desde:</label>
        <p-calendar [(ngModel)]="filter.startAt" name="startAt" [maxDate]="today" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
      </div>
    </div>
    <div class="col-3">
      <div class="">
        <label class="form-labe uc-bg-{{color}}" for="">Hasta:</label>
        <p-calendar [(ngModel)]="filter.endAt" name="endAt" [minDate]="filter.startAt" [maxDate]="today" dateFormat="dd/mm/yy" [showIcon]="true">
        </p-calendar>
      </div>
    </div>
    <div class="col-6">
      <br>
      <br>
      <div style="padding-top: 8px;">

        <button (click)="getReportData()" type="button" class="btn btn-success" style="border-radius: 1.6em;">
          <img src="/assets/img/icons/syllabus.svg" class="uc-card-icons" style="width: 32px;" alt="">
          {{submitLabel}}
        </button>

      </div>
    </div>

  </div>
</form>