<!-- Content Header (Page header) -->
<div class="uc-content content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <!-- <h2 class="m-0">Pagina principal de {{ level }}</h2> -->
            <h2 class="m-0">Constancias de Participación</h2>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Constancias de Participación</li>
            <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../">Inicio</a></li>
            </ol>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    <!-- Main content -->
    <div class="uc-content">
        <section *ngIf="typeSearchFilter=='bySection'" class="section-block-1">
            <div class="form-group row">
                <div class="col-md-6 col-sm-12">
                    <div class="uc-options">
                        <label for="programType" class="form-labe" >Seccion </label>
                        <input name="" class="form-control" placeholder="Ingreso la sección" [(ngModel)]="inputSection">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 align-left pt-34">
                    <button type="button" class="btn btn-primary" (click)="find()" *ngIf="!finding">Buscar</button>
                    <button type="button" class="btn btn-primary" disabled *ngIf="finding">Buscando...</button>
                </div>
            </div>
        </section>
        
        <section class="section-block-1" *ngIf="executingMassive">
            <h6>Se está ejecutando la operación masiva, por favor espere....</h6>
        </section>

        <section class="section-block-1" *ngIf="showTable">
        <!--- TABLA -->
        <div class="form-group" *ngIf="showMassiveControls">
            <h5>Operaciones Masivas</h5>
            <div class="col-md-12 col-sm-12">
                <button type="button" class="btn btn-warning mr-10" data-toggle="modal" data-target="#popUpGenerar" (click)="opMassive=true">Generar Masivo</button>
                <button type="button" class="btn btn-danger mr-10" data-toggle="modal" data-target="#popUpArchivar" (click)="opMassive=true">Archivar Masivo</button>
                <button type="button" class="btn btn-success mr-10" data-toggle="modal" data-target="#popUpEnviar" (click)="opMassive=true">Enviar Masivo</button>
            </div>
        </div>
        <div class="table-responsive table-material">
            <table class="table table-white">
                <thead class="bg-info">
                    <tr>
                        <th class="text-center"><input type="checkbox" [(ngModel)]="massiveSelector" (change)="massiveOperation();"></th>
                        <th class="text-center">N°</th>
                        <th class="text-center">Código</th>
                        <th class="text-center">Estudiante</th>
                        <th class="text-center">Sede</th>
                        <th class="text-right" >Tipo de Programa</th>
                        <th class="text-right" >Programa</th>
                        <th class="text-right" >Certifica</th>
                        <th class="text-right">Estado</th>
                        <th class="text-center">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let webinar of listWebinars; let i = index">
                        <td class="va-middle text-center"><input type="checkbox" [(ngModel)]="webinar.selected" (change)="reviewMassive();"></td>
                        <td class="va-middle text-center">{{i+1}}</td>
                        <td class="va-middle text-center">{{webinar.dni}}</td>
                        <td class="va-middle text-center">{{webinar.alumno}}</td>
                        <td class="va-middle text-center">{{webinar.sede}}</td>
                        <td class="va-middle text-center">{{webinar.tipoEscuela}}</td>
                        <td class="va-middle text-center">{{webinar.escuela}}</td>
                        <td class="va-middle text-center" *ngIf="webinar.apto==1">Sí</td>
                        <td class="va-middle text-center" *ngIf="webinar.apto==0" style="color:red">No</td>
                        <td class="va-middle text-center" *ngIf="webinar.apto==2" style="color:rgb(33, 214, 33)">NO CAPP</td>

                        <td *ngIf="webinar.apto == 1 && webinar.estado == 0" class="va-middle text-center align-left"><div  class="state pendiente"  data-toggle="modal" data-target="#popUpHistorial"></div>Pendiente</td>
                        <td *ngIf="webinar.apto == 1 && webinar.estado == 1" class="va-middle text-center align-left"><div  class="state generado"  data-toggle="modal" data-target="#popUpHistorial"></div>Generado</td>
                        <td *ngIf="webinar.apto == 1 && webinar.estado == 2" class="va-middle text-center align-left"><div  class="state enviado"  data-toggle="modal" data-target="#popUpHistorial"></div>Enviado</td>
                        <td *ngIf="webinar.apto != 1" class="va-middle text-center align-left"> <div class="state nocalifica"   data-toggle="modal" data-target="#popUpHistorial"></div>No califica</td>

                        
                        <td class="va-middle text-center">
                            <!--button *ngIf="webinar.apto && webinar.estado == 0" class="btn btn-sm bg-warning mr-10">Vista previa</button-->
                            <button *ngIf="webinar.apto == 1 && webinar.estado == 0" class="btn btn-sm bg-warning mr-10" target="_blank" (click)="generalDocument=webinar;opMassive=false;" data-toggle="modal" data-target="#popUpGenerar">Generar</button>

                            <button *ngIf="webinar.apto == 1 && webinar.estado == 1" class="btn btn-sm bg-danger mr-10" data-toggle="modal" data-target="#popUpArchivar" (click)="generatedDocument.dni=webinar.dni;opMassive=false;">Archivar</button>
                            <button *ngIf="webinar.apto == 1 && webinar.estado == 1" class="btn btn-sm bg-primary mr-10" (click)="getPDF(webinar.archivo)">Descargar</button>
                            <button *ngIf="webinar.apto == 1 && webinar.estado == 1" class="btn btn-sm bg-success mr-10" data-toggle="modal" data-target="#popUpEnviar" (click)="generatedDocument.dni=webinar.dni;generatedDocument.archivo=webinar.archivo;opMassive=false;">Enviar</button>

                            <button *ngIf="webinar.apto == 1 && webinar.estado == 2" class="btn btn-sm bg-primary mr-10" (click)="getPDF(webinar.archivo)">Descargar</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group" *ngIf="showMassiveControls">
                <h5>Operaciones Masivas</h5>
                <div class="col-md-12 col-sm-12">
                    <button type="button" class="btn btn-warning mr-10" data-toggle="modal" data-target="#popUpGenerar" (click)="opMassive=true">Generar Masivo</button>
                    <button type="button" class="btn btn-danger mr-10" data-toggle="modal" data-target="#popUpArchivar" (click)="opMassive=true">Archivar Masivo</button>
                    <button type="button" class="btn btn-success mr-10" data-toggle="modal" data-target="#popUpEnviar" (click)="opMassive=true">Enviar Masivo</button>
                </div>
            </div>
    </section>
  

    <!-- /.content -->
    
    <!-- /.content - regresar -->


<!-- Modal -->
<div class="modal fade" id="popUpArchivar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Archivar documento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="!opMassive">
            ¿Por qué desea <strong>archivar</strong> el documento?<br><br>
            <textarea name="textarea" rows="5" cols="50" [(ngModel)]="generatedDocument.razonAnulacion"></textarea>
        </div>
        <div class="modal-body" *ngIf="opMassive">
            ¿Por qué desea <strong>archivar</strong> los documentos?<br><br>
            <textarea name="textarea" rows="5" cols="50" [(ngModel)]="generatedDocument.razonAnulacion"></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="generatedDocument.razonAnulacion='';">Cancelar</button>
            <button *ngIf="!opMassive" type="button" class="btn btn-danger" data-dismiss="modal" (click)="archivarPDF();">Archivar</button>
            <button *ngIf="opMassive" type="button" class="btn btn-danger" data-dismiss="modal" (click)="archivarMasivoPDF();">Archivar Masivo</button>
        </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="popUpEnviar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enviar correo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="!opMassive">
                A continuación se enviará una notificación por correo electrónico al estudiante adjuntando el documento generado. ¿Desea continuar?<br>
            </div>
            <div class="modal-body" *ngIf="opMassive">
                A continuación se enviarán notificaciones por correo electrónico a los estudiantes adjuntando los documentos generados. ¿Desea continuar?<br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="generatedDocument.razonAnulacion='';">Cancelar</button>
                <button *ngIf="!opMassive" type="button" class="btn btn-success"  data-dismiss="modal" (click)="enviarPDF();">Enviar</button>
                <button *ngIf="opMassive" type="button" class="btn btn-success"  data-dismiss="modal" (click)="enviarMasivoPDF();">Enviar Masivo</button>
            </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="popUpHistorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Historial</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Historial de documentación:<br><br>
            <div><strong>Generado: </strong>21 de Enero del 2022 08:23 am - Juan Robles</div>
            <div><strong>Anulado: </strong>21 de Enero del 2022 03:30 pm - Pedro Martel</div>
            <div><strong>Generado: </strong>25 de Enero del 2022 10:30 am - Pedro Martel</div>
            <div><strong>Enviado: </strong>26 de Enero del 2022 11:00 am - Margarita Ramírez</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger">Archivar</button>
        </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="popUpGenerar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Generar constancias</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="!opMassive">
            A continuación se generará el documento en formato PDF. ¿Desea continuar?<br> 
        </div>
        <div class="modal-body" *ngIf="opMassive">
            A continuación se generarán los documentos en formato PDF. ¿Desea continuar?<br> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button *ngIf="!opMassive" type="button" class="btn btn-success" data-dismiss="modal" (click)="generarPDF()">Generar</button>
            <button *ngIf="opMassive" type="button" class="btn btn-success" data-dismiss="modal" (click)="generarMasivoPDF()">Generar Masivo</button>
        </div>
        </div>
    </div>
</div>
    
    