.ml-10
    margin-left: 10px
.mr-10
    margin-right: 10px
.pt-34
    padding-top: 34px
.section-border-bottom
    padding: 10px
    border-bottom: 2px solid gray
.align-right
    text-align: right
.align-left
    text-align: left!important
body
    font-weight: 300!important
.state
    width: 10px
    height: 10px
    display: inline-block
    border-radius: 10px
    margin-right: 8px
    cursor: pointer
.state.pendiente
    background-color: #ffc107
.state.nocalifica
    background-color: red
.state.generado
    background-color: #17a2b8
.state.enviado
    background-color: #28a745
.section-block-1
    padding: 15px
    background: #e9ecef
    border-radius: 10px
    margin-bottom: 20px
.table-white
    background-color: white
    border-radius: 29px