<div class="xt-panel xt-header">
  <div>
    <!--<strong *ngIf="title1CodeFn()">{{title1Code}}</strong>-->
    <!--<span *ngIf="!title1Code || title1Code == ''"><strong>{{title1}}</strong></span>-->
    <!--&nbsp;
    <small *ngIf="caminodemigasFn()" class="md-badge-alerta-especial-dark"
           matTooltip="Ubicación en el índice de contenido de la DAC" align="end">
      {{caminodemigas}}
    </small>-->
  </div>
</div>

<mat-divider></mat-divider>

<div class="xt-panel xt-tools">
  <xt-toolbar *ngIf="toolbarVisible">
    <!--<div fxLayoutGap="8px">-->
    <xt-button id="btnguardar" action="save" (buttonclicked)="handleClick('save')" *ngIf="mostrarSave" color="primary"
               nombreIcono="save_as" matTooltip="Guarda los cambios">
      Grabar
    </xt-button>
    <xt-button action="saveclose" (buttonclicked)="handleClick('saveclose')" *ngIf="mostrarSaveClose" color="warn"
               nombreIcono="save" matTooltip="Guarda los cambios y luego cerrar el formulario">
      Grabar y cerrar
    </xt-button>
    <xt-button action="finalizarCapitulo" (buttonclicked)="handleClick('finalizarCapitulo')" *ngIf="mostrarFinalizar"
               color="" nombreIcono="sports_score" matTooltip="Finaliza los capítulos">
    </xt-button>
    <xt-button action="abrirCapitulo" (buttonclicked)="handleClick('abrirCapitulo')" *ngIf="mostrarAbrir" color=""
               nombreIcono="file_open" matTooltip="Abre el capítulo">
    </xt-button>
    <xt-button action="Validar" (buttonclicked)="handleClick('validarCoordenadas')" *ngIf="mostrarValidacion" color=""
               nombreIcono="checklist_rtl" matTooltip="Valida las coordenadas">
    </xt-button>
    <xt-button action="Enviar" (buttonclicked)="handleClick('enviarSenace')" *ngIf="mostrarEnviar" color=""
               nombreIcono="send" matTooltip="Envía la declaración">
    </xt-button>
    <xt-button action="enviarDoc" (buttonclicked)="handleClick('enviarDoc')" *ngIf="mostrarEnviarDoc" color=""
               nombreIcono="send_and_archive" matTooltip="Envía el documento">
    </xt-button>
    <ng-content select="xt-button" *ngIf="mostrarBotonesPersonalizados"></ng-content>
    <xt-button action="close" (buttonclicked)="handleClick('close')" *ngIf="mostrarClose" color=""
               nombreIcono="exit_to_app" matTooltip="Cierra el formulario">
      Cerrar
    </xt-button>
    <!--<xt-button action="closenosave" (buttonclicked)="handleClick('closenosave')" *ngIf="salirNoGrabar" color=""-->
    <!--<xt-button id="btncerrarsingrabar" action="closenosave" (buttonclicked)="handleClick('closenosave')" *ngIf="mostrarSave || salirNoGrabar" color=""
               nombreIcono="exit_to_app" matTooltip="Cierra el formulario sin guardar">
      {{textSalirNoGrabar}}
    </xt-button>-->
    <!--</div>-->
  </xt-toolbar>
</div>

<div class="xt-panel xt-inf" id="xtPanel">

  <!--<div *ngIf="observacionAnexo && notaVisible" class="alerta"
       [ngClass]="{'alerta-observacion': true}">
    <i class="fa fa-info-circle"></i> <small class="notificaciones"> <span [innerHTML]=" observacionAnexo"></span> </small>
  </div>-->

  <!--<div class="alerta"
       [ngClass]="{'alerta-info': messageStyle == 'informativo', 'alerta-warning': messageStyle == 'advertencia', 'alerta-danger': messageStyle == 'critico'}">
    <i class="fa fa-info-circle"></i> <small class="notificaciones"> <span [innerHTML]=" message"></span> </small>
  </div>-->

  <ng-content select="xt-group-panel">
  </ng-content>

  <!--<div class="alerta"
       [ngClass]="{'alerta-info': messageEndStyle == 'informativo', 'alerta-warning': messageEndStyle == 'advertencia', 'alerta-danger': messageEndStyle == 'critico'}">

    <i class="fa fa-info-circle"></i> <small> <span [innerHTML]=" messageEnd"></span> </small>
  </div>-->

</div>
