:host {
  // height: 100%;
  display: grid;
  grid-auto-rows: min-content min-content 1fr;
}

.xt-panel.xt-header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  -ms-flex-item-align: center;

  .ht-header-title-caminomigas {
    justify-content: space-between;
    flex-direction: row;

    .xt-title1 {
      font-weight: bold;
      margin: 0;
      justify-content: flex-start
    }

    .xt-migas {
      font-size: 12px;
      float: left;
      justify-content: flex-end;
    }
  }

  .xt-title2 {
    font-size: 12pt;
  }
}

.xt-panel.xt-inf {
  background-color: #ecf0f4;
  overflow: auto;
}

.xt-notificacion {
  display: block;
  border: 3px solid gray;
  background-color: #ffd150;
  padding: 0.5rem;
  margin: 10px;
}

.notificaciones{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.xt-informativo {
  background-color: #ffd150;
}

.xt-advertencia {
  background-color: #68C168;
}

.xt-critico {
  color: white;
  background-color: red;
}
