<div class="dialog-custom">
  <div mat-dialog-title>
    <span class="mr-3 title-custom-dialog">ASIGNAR</span>
    <xt-button
      class="button-option"
      [class.active]="optionSelected === 'Usuario'"
      tipoBoton="mat-flat-button"
      action="Por Persona"
      (buttonclicked)="changeOptionSelected('Usuario')"
      >PERSONA</xt-button
    >
    <xt-button
      class="button-option"
      [class.active]="optionSelected === 'Equipo'"
      tipoBoton="mat-flat-button"
      action="Por equipo"
      (buttonclicked)="changeOptionSelected('Equipo')"
      >EQUIPO</xt-button
    >
  </div>
  <mat-dialog-content class="mat-typography">
    <xt-field-cell
      id="user"
      #user
      datatype="reference"
      placeholder="Buscar Persona"
      [datasource]="usersToSelect"
      [optionDefault]="'Seleccione un ' + optionSelected"
    ></xt-field-cell>
  </mat-dialog-content>
  <mat-dialog-actions>
    <xt-button
      class="button-action-default ml-auto"
      tipoBoton="mat-button"
      (buttonclicked)="close()"
      >CANCELAR</xt-button
    >
    <xt-button
      class="button-action-default button-action-save"
      (buttonclicked)="save()"
      >ASIGNAR</xt-button
    >
  </mat-dialog-actions>
</div>
