i
  position: relative
  display: inline-block
  margin: 0 4px
  width: 5px
  height: 15px
  border-radius: 2px
  border: solid #690
  border-width: 0 1px 1px 0
  background: #9b2
  animation: tilt infinite 5s cubic-bezier(0.955, -0.010, 1.000, 1.000)
  transform-origin: 100% 100%
  &::before
    content: ''
    position: absolute
    z-index: -1
    bottom: 0
    display: block
    width: 5px
    height: 5px
    background: transparent
    box-shadow: 0 2px rgba(0,0,0,.3)
    animation: stretch infinite 5s cubic-bezier(0.955, -0.010, 1.000, 1.000)
    opacity: 0
    transform-origin: 0% 0%
  &:last-of-type
    animation-name: tilt-last
    &::before
      animation-name: stretch-last
i:nth-child(2),
i:nth-child(2)::before
  animation-delay: .3s
i:nth-child(3),
i:nth-child(3)::before
    animation-delay: .6s
i:nth-child(4),
i:nth-child(4)::before
  animation-delay: .9s
i:nth-child(5),
i:nth-child(5)::before
  animation-delay: 1.2s
@keyframes tilt
  10%
    transform: rotate(70deg)
  60%
    transform: rotate(70deg)
    transform: rotate(90deg)
    transform: rotate(-70deg)
    width: 10px
    opacity: 1
    transform: rotate(-90deg)
    width: 10px
    height: 2px
    opacity: .5
  70%
    transform: rotate( 0deg)
    transform: rotate( 0deg)
    width: 5px
    transform: rotate(0deg)
    opacity: 0
    transform: rotate(0deg)
    width: 5px
    height: 5px
    opacity: 0
@keyframes tilt-last
  10%
    transform: rotate(90deg)
@keyframes stretch
  10%
    transform: rotate(-70deg)
  width: 10px
  opacity: 1
  left: 0px
  bottom: -1px
@keyframes stretch-last
  10%
    transform: rotate(-90deg)
  width: 10px
  height: 2px
  opacity: .5
  left: 3px
  bottom: -1px
.uc-loader
  position: relative
  display: block
  margin: auto
  padding: 0
  width: 100px
  height: 15px
  text-align: center
