.container-principal 
	display: flex 
	flex-direction: column 
	margin-left: 50px

.container-header 
	display: flex 
	flex-direction: column

.container-requests 
	display: flex 
	flex-direction: column 
	width: 641px

.requests-title 
	display: flex 
	flex-direction: row 
	justify-content: space-between

.item-requests-summary
	display: flex 
	flex-direction: row 
	align-items: center

.item-requests 
	display: flex 
	flex-direction: column

.vermas-button 
	display: flex 
	flex-direction: row

.count-request 
	display: flex 
	flex-direction: column

.content-visible 
	display: flex 
	flex-direction: row

.content-left 
	display: flex 
	flex-direction: row 
	width: 50%

.content-right 
	display: flex 
	flex-direction: row
