<div class="container-principal">
  <div class="container-header">
    <h3 style="color: #000094; font-size: 32px; font-weight: 800">
      Hola {{ profile!.name ?? "" | titlecase }}
    </h3>
    <h5 style="font-size: 20px; font-weight: 400">Comercial</h5>
  </div>
  <div class="content-visible">
    <div class="content-left">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="requests-title">
            <h5>Mis Solicitudes</h5>
            <a class="vermas-button" routerLink="../solicitudes-ra">
              <h5>VER TODAS</h5>
              <img
                alt="arrow_right"
                src="../../../assets/img/icons/arrow_right.svg"
                style="width: 14px; height: 14px; margin-left: 17px"
              />
            </a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="VALIDAR DOCS ({{ datSolicitudes.length }})">
              <div *ngFor="let dat of datSolicitudes">
                <section class="item-requests-summary">
                  <strong>
                    {{ dat?.Fecha }}
                  </strong>
                  <div class="info-request">
                    <p>{{ dat?.NombreCompleto }}</p>
                    <p>{{ dat?.Programa_text }}</p>
                  </div>
                  <button (click)="fnValidarDocumento(dat)">
                    VALIDAR DOCUMENTO
                  </button>
                </section>
              </div>
            </mat-tab>
            <mat-tab label="Entrevistas ({{ datEntrevistas.length }})">
              <div *ngFor="let dat of datEntrevistas">
                <section class="item-requests-summary">
                  <strong>
                    {{ dat?.Fecha }}
                  </strong>
                  <div class="info-request">
                    <p>{{ dat?.NombreCompleto }}</p>
                    <p>{{ dat?.Programa_text }}</p>
                  </div>
                </section>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="content-right">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="requests-title">
            <h5>Mis Entrevistas</h5>
            <a class="vermas-button">
              <h5>VER TODAS</h5>
              <img
                src="../../../assets/img/icons/arrow_right.svg"
                style="width: 14px; height: 14px; margin-left: 17px"
              />
            </a>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <h5>Ago 25 2022</h5>
          <section class="item-requests">
            <div *ngFor="let dat of datEntrevistas">
              <section
                *ngIf="dat.Fecha > fechaActual"
                class="item-requests-summary"
              >
                <strong>
                  {{ dat?.Fecha }}
                </strong>
                <div class="info-request">
                  <p>{{ dat?.NombreCompleto }}</p>
                  <p>{{ dat?.Programa_text }}</p>
                </div>
              </section>
            </div>
          </section>
          <button (click)="fnProgramarHorario()">PROGRAMAR HORARIOS</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
