<h1 mat-dialog-title>Procesando...</h1>
<div mat-dialog-content>
  Por favor espere mientras termina la operación
</div>
<div mat-dialog-actions>
  <div class="loading-spinner">
    <mat-progress-spinner diameter="40" strokeWidth="2" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>