<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Actualizacion de fotos </h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">Fotos</li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../">Atenciones</a></li>
          <li class="breadcrumb-item active"><a class='uc-c-{{color}}' routerLink="../../">Inicio</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<article class="uc-center">
  <div *ngIf="requestState === status.LOADING">
    <ui-loader></ui-loader>
  </div>
  <div *ngIf="requestState === status.ERROR">
    <ui-error-block></ui-error-block>
  </div>
</article>
<section class="content" *ngIf="requestState === status.DONE">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
       
        <hr>
      </div>
      <div class="col-12">
        <section class="multi-section">
          <header>Mis solicitudes</header>
          <div>
            <table class="uc-table uc-table-{{color}}" *ngIf="applications">
              <thead>
                <tr>
                  <th class="start"><span class="uc-t-bold">Estudiante</span></th>
                  <th class="end"><span class="uc-t-bold">Solicitado el:</span></th>
                  <th class="separator"></th>
                  <th class="total"><span class="uc-t-bold">Detalle</span></th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-req [ngForOf]="requests" let-i="index">
                  <tr (click)="req.show = !req.show" class="uc-selectable">
                    <td class="start">
                      <span class="uc-t-bold">{{req.name}} {{req.lastname}}</span>
                    </td>
                    <td class="end">
                      <div class="uc-t-small">
                        <span>
                          <i class="pi pi-calendar"></i>
                          {{req.createAt | date:'dd/MM/yyyy'}}
                          &nbsp;
                        </span>
                        <span>
                          <i class="pi pi-clock"></i>
                          {{req.createAt | date:'hh:mm a'}}
                        </span>
                      </div>
                    </td>
                    <td class="separator"></td>
                    <td class="center"><span class="uc-t-small">{{req.status}}</span></td>
                  </tr>
                  <tr [hidden]="!req.show">
                    <td colspan="4">
                      <div>
                        <div class="photo-container">
                          <div class="old">
                            <div class="img-cont">
                              <img [src]="apiPhoto + req.studentId" alt="avatar" class="uc-avatar avatar-profile">
                            </div>
                            <p>
                              Foto actual
                            </p>
                          </div>
                          <div class="arrow">
                          </div>
                          <div class="new">
                            <img [src]="req.url"  alt="avatar-new" class="uc-avatar avatar-profile">
                            <p>
                              Foto a actualizar
                            </p>
                          </div>
                        </div>
                        <div class="button-caontainer">
                          <button (click)="updateRequest(req, 'rejected')" class="uc-btn big"> Rechazar</button>
                          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                          <button (click)="updateRequest(req, 'approved')" class="uc-btn uc-btn-purple big"> Aprobar</button>
                        </div>
                        <div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- Dialog box -->
<p-dialog header="Filtrar solicitudes" [(visible)]="showFilterDialog" [modal]="true">
</p-dialog>

<p-dialog header="Procesando" [(visible)]="showLoadingDialog" [modal]="true">
  Guardando...
</p-dialog>

<p-toast life="5000"></p-toast>

<p-confirmDialog 
  header="Confirmar Actualización de foto" 
  acceptLabel="Si"
  rejectLabel="No"
  icon="pi pi-exclamation-triangle">

</p-confirmDialog>