.photo-container
  display: flex
  flex-direction: row
  justify-content: center
  text-align: center
  align-items: stretch
  p
    font-size: 1.6rem
    font-weight: bold
    color: #fff
    margin: 0
    padding: 0
  .img-cont
    min-height: 180px
    background-color: #fff
    overflow: hidden
  img
      background-color: #fff
      width: 160px
  .old, .new
    padding: 2em
  .old
    // width: 300px
    // height: 500px
    background-color: #00beb7
    
  .new
    background-color: #00c9c2
  .arrow
    // width: 60px
    // height: 60px
    // background-color: #fff
    // border-radius: 50%
    // overflow: visible
    // content: U+02190
    // top: 50%
    // left: 25%
.button-caontainer
  display: flex
  flex-direction: row
  justify-content: center
  text-align: center
  align-items: stretch
.uc-btn
  padding: 0.6em 1.4em
  font-size: 1.4em
  &.uc-btn-purple
    background-color: #b17df4
