<xt-edit-form title1="Estudiante" title2="Nuevo">
  <xt-group-panel title="Datos personales" [fieldcols]="6" type="FieldContainer">
    <xt-field-cell #FieldCodigo id="FieldCodigo" title="Código" datatype="text" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldTelefono id="FieldTelefono" title="Teléfono" datatype="text" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldDepartamento id="FieldDepartamento" title="Departamento" datatype="reference" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldNombre id="FieldNombre" title="Nombre" datatype="text" [required]="true" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldSexo id="FieldSexo" title="Sexo" datatype="reference" [required]="false" [cols]="2" [rows]="1" [listid]="1004"></xt-field-cell>
    <xt-field-cell #FieldProvincia id="FieldProvincia" title="Provincia" datatype="reference" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldApellidos id="FieldApellidos" title="Apellidos" datatype="text" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldTipoDocumento id="FieldTipoDocumento" title="Tipo de documento" datatype="reference" [required]="false" [cols]="2" [rows]="1" [listid]="1005"></xt-field-cell>
    <xt-field-cell #FieldDistrito id="FieldDistrito" title="Distrito" datatype="reference" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldFechaNacimiento id="FieldFechaNacimiento" title="Fecha de nacimiento" datatype="date" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldNumeroDocumento id="FieldNumeroDocumento" title="Número de documento" datatype="text" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldPais id="FieldPais" title="País" datatype="reference" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldUbigeoNacimiento id="FieldUbigeoNacimiento" title="Ubigeo de nacimiento" datatype="text" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldCorreo id="FieldCorreo" title="Correo" datatype="text" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldDireccion id="FieldDireccion" title="Dirección" datatype="text" [required]="false" [cols]="2" [rows]="1"></xt-field-cell>
  </xt-group-panel>
  <xt-group-panel title="Datos académicos" [fieldcols]="2" type="FieldContainer">
    <xt-field-cell #FieldSeccion id="FieldSeccion" title="Sección" datatype="reference" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldSede id="FieldSede" title="Sede" datatype="reference" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldNombrePrograma id="FieldNombrePrograma" title="Nombre del programa" datatype="reference" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldMaestria id="FieldMaestria" title="Maestria" datatype="reference" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldPeriodoAcademico id="FieldPeriodoAcademico" title="Periodo académico" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldModalidad id="FieldModalidad" title="Modalidad" datatype="reference" [required]="false" [cols]="1" [rows]="1" [listid]="1013"></xt-field-cell>
    <xt-field-cell #FieldPlanEstudios id="FieldPlanEstudios" title="Plan de estudios" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
  </xt-group-panel>
  <xt-group-panel title="Datos laborales" [fieldcols]="2" type="FieldContainer">
    <xt-field-cell #FieldSector id="FieldSector" title="Sector" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldAreaEmpresa id="FieldAreaEmpresa" title="Área de la empresa" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldNombreEmpresa id="FieldNombreEmpresa" title="Nombre de la empresa" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldProfesion id="FieldProfesion" title="Profesión" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-field-cell #FieldCargo id="FieldCargo" title="Cargo" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
  </xt-group-panel>
  <xt-group-panel title="Estado económico" [fieldcols]="2" type="FieldContainer">
    <xt-field-cell #FieldMoneda id="FieldMoneda" title="Moneda" datatype="reference" [required]="false" [cols]="1" [rows]="1" [listid]="1006"></xt-field-cell>
    <xt-field-cell #FieldDeuda id="FieldDeuda" title="Deuda" datatype="text" [required]="false" [cols]="1" [rows]="1"></xt-field-cell>
    <xt-cell [rows]="6" [cols]="2">
      <app-estudiantedetalledeuda #GridEstudianteDetalleDeuda title="Detalle de la deuda" keyname="PEREstudiante" [keyvalue]="id"></app-estudiantedetalledeuda>
    </xt-cell>
  </xt-group-panel>
  <xt-group-panel title="Título" [fieldcols]="2" type="FieldContainer">
  </xt-group-panel>
</xt-edit-form>
