<div class="login-box uc-login-box">
  <div class="login-logo ">
    <a href="#" ><b class="uc-c-white">UC</b> <span class="uc-c-white">Portal</span></a>
  </div>
  <div class="uc-center">
    <span class="uc-t-medium uc-c-white ">Portal administrativo</span>
  </div>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>