// Estilos generales

.contenedor-titulo {
  z-index: 5000;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  padding: 10px 15px;
}

.contenedor-formulario {
  position: relative;
  padding: 5px;
  margin: 0px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.contenedor-global {
  position: relative;
  padding: 10px;
  margin: 20px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.contenido-interno {
  min-height: 350px !important;
  padding: 5px;
  margin: 5px;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

.contenido-interno-estado {
  margin-bottom: 12px;
}

.mat-snack-bar-container {
  background-color: #ffd147 !important;
  color: black !important;
  margin-top: 51px !important;
}

.mat-simple-snackbar {
  font-size: 18px !important;
}

.mat-simple-snackbar-action {
  color: black !important;

  button {
    border: 1px solid black !important;
  }
}

.declaracionNoEnviada {
  color: red;
}

@keyframes example {
  0% {
    background-color: red;
  }

  25% {
    background-color: yellow;
  }

  50% {
    background-color: blue;
  }

  100% {
    background-color: green;
  }
}

.contenedor-inicio {
  position: relative;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  display: inline flex;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: gainsboro;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

.mat-icon {
  vertical-align: middle;
}

.xt-active-parent > .ip-tree-link {
  background-color: #cccccc;
}

.active-link {
  background-color: #adacac;
}

[hidden] {
  display: none !important;
}

.add-header {
  background-color: var(--c2BGLight) !important;
  color: var(--c2FGLight) !important;
}

.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
  margin: 0 0 0px;
}

.mat-cell,
.mat-footer-cell {
  font-size: 12px;
}

.nodeclarar {
  color: #bf0909 !important;
  font-weight: bold;
  margin-left: 26px;

  &::before {
    font-family: "Material Icons";
    content: "notifications_active";
    font-size: 20px;
    position: relative;
    left: -26px;
    top: 27px;
  }

  &.icon-display {
    transform: scale(1.4);
  }
}

xt-group-panel {

  .mat-card-content {
    display: grid;
    grid-template-columns: repeat(var(--fieldcols, 2), 1fr);
    grid-auto-rows: minmax(3 rem, auto);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }
}

.alerta {
  grid-column-end: -1;
  grid-column-start: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  opacity: 1;
}

.stickyIndice {
  position: fixed;
  top: 0;
}

/* Estilo para controlar la fijación del subtítulo */
.dac-subtitulo {
  position: fixed;
  top: 64px;
  z-index: 10000;
  width: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px !important;
}

.clear-fix {
  clear: both;
}

xt-group-panel.xt-panel.xt-group.xt-group-anexo {
  page-break-before: always;
}

xt-group-panel.xt-panel.xt-group.xt-group-no-visible {
  display: none;
}

@media print {

  body {
    zoom: 0.5;
    -webkit-print-color-adjust: exact !important;
  }

  .app-admin-container .rightside-content-hold {
    display: block;
    overflow-x: unset;
    position: relative;
    min-height: 450px;
  }

  .page {
    page-break-inside: avoid !important;
  }
  /*@page {
    margin-top: 0cm;
    margin-bottom: 0cm;
  }*/


  ps__rail-x {
    display: none !important;
  }
  /*.btn-subir {
    display: none;*/ /* Hidden by default */
  /*}*/
  /**/
  /*  xt-edit-form {
    page-break-before: always !important;
  }
  xt-grid {
    page-break-before: always !important;
  }
  ps__rail-x {
    display: none !important;
  }*/

  .xt-panel .xt-header {
    margin-bottom: 0px !important;
    /*page-break-inside: avoid !important;*/
  }

  /*.xt-panel.xt-inf {
    page-break-before: always !important;
  }*/

  thead, tfoot, tr, xt-checkbox-list {
    /*margin: 0 !important;*/
    page-break-inside: avoid !important;
  }

  /*.xt-checkbox-list, .xt-data-row {*/
  /*margin: 0 !important;*/
  /*page-break-inside: avoid !important;
  }*/

  mat-card {
    padding: 0px !important;
    margin: 0px !important;
  }

  /*.contenedor-titulo {
    display: none;
  }*/

  thead, tfoot {
    display: table-row-group;
  }


  .mat-card {
    padding: 5px !important;
  }

  table {
    padding-left: 0px !important;
  }

  .porcentaje-carga {
    display: none;
  }

  .mat-elevation-z8 {
    box-shadow: none !important;
  }

  .sticky {
    position: initial !important;
  }

  tr.mat-row, tr.mat-footer-row {
    height: auto !important;
  }

  app-header {
    display: none;
  }

  .btn-imprimir {
    display: none;
  }

  app-sidebar {
    display: none;
  }

  .consolidadoCss {
    display: none !important;
  }

  .app-admin-wrap {
    height: auto;
  }

  .app-admin-container {
    height: auto;
  }

  .main-content-wrap {
    height: auto;
  }

  xt-toolbar {
    display: none;
  }

  .xt-action-cell {
    visibility: hidden;
  }

  app-footer {
    display: none;
  }

  xt-button {
    display: none;
  }

  xt-group-panel {
    margin: 0 !important;
    /*background-color: blue;*/
  }
}
