/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import './styles_fonts.sass'

// colors
$dark: #212322
$white: #FFFFFF
$red: #FF7272
$orange: #FF8773
$orange2: #ff8671
$orange3: #ff5928
$purple: #B17DF4
$purble-dark: #000094
$lilac: #ED76F4
$blue: #00A3DB
$blue2: #013acc
$blue-light: #019cda
$blue-dark: #0c0d8c
$green: #63FDCB
$gray: #DBDBDB
$gray-light: #F3F3F3
// gradients
$grd_red: linear-gradient(330deg, #EA0303 0%, #EE2121 12%, #F13E3E 26%, #F55555 42%, #F76666 58%, #F86F6F 76%, #F97373 100%)
$grd_purple: linear-gradient(330deg, #6802C1 0%, #7417CA 9%, #8A3CD9 28%, #9B58E4 46%, #A76CED 64%, #AE78F2 82%, #B17DF4 100%)
$grd_lightBlue: linear-gradient(330deg, #0202C6 0%, #0111C7 5%, #013DCD 21%, #0061D2 37%, #007ED6 53%, #0092D8 69%, #009EDA 84%, #00A3DB 100%)
$grd_orange: linear-gradient(330deg, #FF521D 0%, #FF5B2C 10%, #FF6E4B 34%, #FF7C61 57%, #FF846E 80%, #FF8773 100%)
$grd_lilac: linear-gradient(330deg, #A304A3 0%, #A406A4 1%, #BA28BC 13%, #CC44D0 27%, #DB5AE0 41%, #E56AEB 56%, #EB73F1 74%, #ED76F4 100%)
$grd_blue: linear-gradient(330deg, #0202C6 0%, #0404BA 3%, #0B0C92 13%, #12136F 24%, #171953 36%, #1B1D3D 48%, #1E202D 62%, #202224 78%, #212322 100%)
$grd_white_gray: linear-gradient(330deg, #E6E6E6 0%, #F7F7F7 20%, #FFFFFF 100%)
$grd_conic_orange: conic-gradient(from -50deg at 81% 74%, #FF8773 0.00%, #FF7B5F 80.59%, #FF521D 100.00%)
$grd_conic_orange2: conic-gradient(from 90deg at 50% 50%, #F97373 0.00%, #FF521D 100.00%)
$grd_conic_lilac: conic-gradient(from 144deg at 81% 74%, #ED76F4 0.00%, #FF521D 100.00%)
$grd_conic_purple_orange: conic-gradient(from 90deg at 50% 50%, #FF8773 0.00%, #6802C1 100.00%)
$grd_conic_red_purple: conic-gradient(from 90deg at 50% 50%, #6802C1 0.00%, #A304A3 100.00%)
// sizes
$default-radius: 20px
$default-padding: 16px
$h2-font-size: 40px
$h3-font-size: 25px
$default-font-size: 16px
$small-font-size: 14px
$medium-font-size: 20px
// maps
$colors: ("dark": $dark, "white": $white, "red": $red, "orange": $orange, "purple": $purple, "purble-dark": $purble-dark, "lilac": $lilac, "blue": $blue, "green": $green, "gray": $gray, "gray-light": $gray-light, "orange2": $orange2, "orange3": $orange3, "blue2": $blue2, "blue-light": $blue-light, "blue-dark": $blue-dark)
$gradients: ("grd-red": $grd_red, "grd-purple": $grd_purple, "grd-lightblue": $grd_lightBlue, "grd-orange": $grd_orange, "grd-lilac": $grd_lilac, "grd-blue": $grd_blue, "grd-white-gray": $grd_white_gray, "grd-cnc-orange": $grd_conic_orange, "grd-cnc-lilac": $grd_conic_lilac, "grd-cnc-purple-orange": $grd_conic_purple_orange, "grd-cnc-red-purple": $grd_conic_red_purple, "grd-cnc-orange2": $grd_conic_orange2)
// control of color class
@each $name, $color in $colors
  .uc-c-#{$name}
    color: $color
    &:hover
      color: darken($color, 30%)
// control of background-color class
@each $name, $color in $colors
  .uc-bg-#{$name}
    background-color: $color
// control of background-color gradients class
@each $name, $gradient in $gradients
  .uc-bg-#{$name}
    background: transparent $gradient 0% 0% no-repeat padding-box
.uc-bg-menu
  &.style_1
    background: $red 0% 0% no-repeat padding-box
  &.style_2
    background: $purple 0% 0% no-repeat padding-box
  &.style_3
    background: $blue-light 0% 0% no-repeat padding-box
  &.style_4
    background: $orange 0% 0% no-repeat padding-box
  &.style_5
    background: $lilac 0% 0% no-repeat padding-box
  &.style_6
    background: $blue-dark 0% 0% no-repeat padding-box

// Section Fonts
body
  font-family: 'Neue Plak','Open Sans', sans-serif
  font-size: $default-font-size
  font-weight: 200
h1, h2, h3, h4, h5, h6
  font-family: 'Neue Plak','Open Sans', sans-serif
  font-weight: 900
h2
  font-weight: 800
  font-size: $h2-font-size
h3
  font-weight: 700
  font-size: $h3-font-size
.uc-t-bold
  font-size: $default-font-size
  font-weight: 500
.uc-t-normal
  font-size: $default-font-size
  font-weight: 200
.uc-t-small-bold
  font-size: $small-font-size
  font-weight: 500
.uc-t-medium
  font-size: $medium-font-size
  font-weight: 400
.uc-t-small
  font-size: $small-font-size
  font-weight: 200
// End Section Fonts
// FIXME remove this
.uc-text-white, .uc-text-dark, .uc-text-white-left
  font-size: .8em
.uc-text-white-left
  text-align: left
.uc-text-white, .uc-text-white-left
  color: $white
.uc-text-dark
  color: $dark
  font-weight: 600
// colors
.uc-ligth
  color: $white
.uc-dark
  color: $dark

// aligment
.uc-center
  text-align: center
.uc-logo-collapsed
  display: none
.uc-bars-action-layout
  padding-top: $default-padding
  .uc-bars-action
    color: $dark
    font-size: 1.5em
  // margin-top: 4em

.uc-sidebar
  border-radius: $default-radius
  margin: 1em!important
  height: calc(100% - 2em)
  &.uc-sidebar-posgrado
    background-color: $dark
  &.uc-sidebar-continua
    background-color: $purble-dark
  .uc-brand
    padding: $default-padding
    text-align: center
    .brand-image
      margin: 0 auto!important
  .uc-logo
    width: 65%
    margin: 0 auto
    &.uc-logo-collapsed
      width: 80%
      margin: 0 auto
      max-width: 50px
      max-height: 50px
  .uc-avatar
    height: 110px
    width: 110px
.sidebar
  .uc-text-white-left
    &:hover
      color: #007bff
  .uc-content-flex
    display: flex
    max-height: 24px!important
    // overflow: hidden
    .uc-icon
      margin-right: .5em
      float: left
    p
      flex: 1
    .uc-slide-icon
      height: 21px
      width: 10px
      border-radius: 20px
      opacity: 1
      margin-left: -1.5em
      margin-right: 10%

.sidebar-collapse
  .uc-logo-expanded
    display: none
  .uc-logo-collapsed
    display: block
  .uc-sidebar-user-resume
    display: none
  .uc-content-flex
    .uc-menu-text
      display: none
    .uc-icon
      display: none
      visibility: visible
      display: inline-block
      margin-left: .5em
  .uc-avatar
    width: 40px
    height: 40px
  &:hover
    .uc-icon
      display: block
.sidebar-closed
  .uc-sidebar
    width: 0

// @media (max-width: 992px)
//   .sidebar-collapse
//     .uc-sidebar
//       width: -250



/* entry-cards */

.uc-content
  padding: 1em .5em 1em 1.6em
  .uc-box
    display: flex
    justify-content: space-between
    border-radius: 1.6em
    &.style_1
      background: $red 0% 0% no-repeat padding-box
    &.style_2
      background: $purple 0% 0% no-repeat padding-box
    &.style_3
      background: $blue-light 0% 0% no-repeat padding-box
    &.style_4
      background: $orange 0% 0% no-repeat padding-box
    &.style_5
      background: $lilac 0% 0% no-repeat padding-box
    &.style_6
      background: $blue-dark 0% 0% no-repeat padding-box
    .uc-small-box
      justify-content: space-between
      display: flex
    .uc-inner
      margin: 1em
      align-content: center
    .uc-title-white
      margin-bottom: 0
      font-size: 1.3em
      color: $white
    .uc-text-white-left
      margin-bottom: .5em
      font-size: .8em
    .uc-icon
      // margin: 1.5em 0.5em 0em 0em
      .uc-card-icon
        width:60px
        height:60px
        position: relative
        right: 15px
        top: 15px
    .uc-card-icons
      text-align: right


//mixin for the central bins
@mixin uc-content-sect($width: 100%, $min-height: 100vh, $display: flex, $justify-content: center, $align-items: center)
  width: $width,
  min-height: $min-height,
  display: $display,
  justify-content: $justify-content,
  align-items: $align-items
//class for central bins
.uc-content-sect
  @include uc-content-sect

//mixin for the card form
@mixin uc-card-sect($max-width, $border-radius, $margin, $padding, $overflow)
  max-width: $max-width,
  border-radius: $border-radius,
  margin: $margin,
  padding: $padding,
  overflow: $overflow
//class for the card form
.uc-card-sect-1
  @include uc-card-sect($max-width: 500px, $border-radius: 1.6em, $margin: 20px, $padding: 5px 5px 5px 5px, $overflow: hidden)
.uc-card-sect-2
  @include uc-card-sect($max-width: 300px, $border-radius: 1.6em, $margin: 20px, $padding: 40px 20px 40px 20px, $overflow: hidden)

/* Widgets*/
// boxs
.uc-message-box
  background: $gray
  padding: $default-padding
  border-radius: $default-radius
  border: none
  text-align: center

// buttons
.uc-btn
  @extend .uc-t-small-bold
  display: inline-block
  min-height: $small-font-size + 10px
  // vertical-align: middle
  // line-height: $small-font-size + 10px
  text-align: center
  background-color: $dark
  border-radius: $default-radius
  color: $white
  padding: 0 $default-padding
  &:hover
    color: $white
  &.uc-btn-dark
    background-color: $dark
    &:hover
      background-color: lighten($dark, 10%)
  &.uc-btn-red
    background-color: $red
    &:hover
      background-color: lighten($red, 10%)
  &.uc-btn-ligth
    background-color: $white
    color: $dark
    &:hover
      background-color: darken($white, 10%)


/* login section */

.uc-login-layout
  background-image:  url('/assets/img/bgs/login-layer.png'), url('/assets/img/bgs/login-bg.png')
  background-size: cover, cover

.uc-choice-profile-layout
  background-image:  url('/assets/img/bgs/choice-profile-layer.svg'), url('/assets/img/bgs/login-bg.png')
  background-size: cover, cover
  ul.uc-choice-profile-list
    display: block
    margin: 0
    padding: $default-padding
    li
      box-decoration: none
      list-style: none
      display: block
      background-color: $white
      border-radius: $default-radius
      color: $dark
      text-align: center
      padding: $default-padding 0
      margin: 1em auto
      &:hover
        background-color: darken($white, 10%)
      img
        height: 30px
      // padding: $default-padding
.uc-login-box
  background-color: $dark
  border-radius: $default-radius
  color: $white
  padding-bottom: $default-radius
  width: 408px
  max-width: 80%
  margin: 0 auto

  // min-height: 680px
  .login-card-body
    color: $white
    background-color: $dark
    input.login-input
      border-radius: $default-radius
      padding: 1.4em 1.6em
    input.login-btn
      border-radius: $default-radius
      border: none
      background-color: $green
      display: inline-block
      padding: 1em 4em
  .uc-choice-btn
    background-color: $white
// section navbar
.uc-navbar
  border: none
  .uc-name
    height: 40px
    line-height: 40px
    // vertical-align: middle
    text-align: center
  .uc-mini-avatar
    width: 30px
    height: 30px
    margin-right: 20px
/* Student section */
.uc-layout
  background: transparent $grd_white_gray 0% 0% no-repeat padding-box
  padding-left: $default-padding * 2
  padding-right: $default-padding * 2
  // background-color: red
  .content-wrapper, .main-header, .main-footer
    background-color: unset

// seccion tabla
.uc-table
  width: 100%
  border-collapse: separate
  border-spacing: 0 5px
  td , th
    @extend .uc-t-normal
    background-color: $gray-light
    padding: 0 $default-padding
    &.total
      border-radius: $default-radius
      color: $dark
      text-align: right
    &.center
      border-radius: $default-radius
      color: $dark
      text-align: center

    &.start
      border-bottom-left-radius: $default-radius
      border-top-left-radius: $default-radius
    // &.mid
    &.end
      border-bottom-right-radius: $default-radius
      border-top-right-radius: $default-radius
    &.separator
      background-color: unset
      width: $default-padding
    &.no-bg
      background-color: unset
    &.solo
      border-radius: $default-radius
  th
    @extend .uc-t-bold
    &.total
      text-align: center
      background-color: $gray
    &.separator
      background-color: unset
  td
    @extend .uc-t-small
   
  @each $name, $color in $colors
    &.uc-table-#{$name}
      th
        background-color: $color
        &.total
          background-color: $gray
        &.separator
          background-color: unset



.uc-form
  label
    border-radius: 1.6em
    padding: 5px 25px 10px
    margin-top: 10px
    color: #fff
  select
    border-radius: 1.6em
.uc-selectable
  td
    cursor: pointer
    bg-color: darken($gray, 30%)
@import './styles_block.sass'