@font-face
  font-family: "Neue Plak"
  src: url("/assets/fonts/Neue Plak ExtraBlack.ttf") format("truetype")
  font-weight: 900
@font-face
  font-family: "Neue Plak"
  src: url("/assets/fonts/Neue Plak Black.ttf") format("truetype")
  font-weight: 800
@font-face
  font-family: "Neue Plak"
  src: url("/assets/fonts/Neue Plak Bold.ttf") format("truetype")
  font-weight: 700
@font-face
  font-family: "Neue Plak"
  src: url("/assets/fonts/Plak SemiBold.ttf") format("truetype")
  font-weight: 600
@font-face
  font-family: "Neue Plak"
  src: url("/assets/fonts/Neue Plak Regular.ttf") format("truetype")
  font-weight: 500
@font-face
  font-family: "Neue Plak"
  src: url("/assets/fonts/Neue Plak Regular.ttf") format("truetype")
  font-weight: 400
@font-face
  font-family: "Neue Plak"
  src: url("/assets/fonts/Neue Plak Light.ttf") format("truetype")
  font-weight: 300
@font-face
  font-family: "Neue Plak"
  src: url("/assets/fonts/Neue Plak Thin.ttf") format("truetype")
  font-weight: 200
@font-face
  font-family: "Neue Plak"
  src: url("/assets/fonts/Neue Plak Thin.ttf") format("truetype")
  font-weight: 100

@font-face

  font-family: "Neue Plak Condensed"
  src: url("/assets/fonts/Neue-Plak-Condensed-ExtraBlack.ttf") format("truetype")
  font-weight: 900
@font-face
  font-family: "Neue Plak Condensed"
  src: url("/assets/fonts/Neue-Plak-Condensed-Black.ttf") format("truetype")
  font-weight: 800
@font-face
  font-family: "Neue Plak Condensed"
  src: url("/assets/fonts/Neue-Plak-Condensed-Bold.ttf") format("truetype")
  font-weight: 700
@font-face
  font-family: "Neue Plak Condensed"
  src: url("/assets/fonts/Neue-Plak-Condensed-SemiBold") format("truetype")
  font-weight: 600
@font-face
  font-family: "Neue Plak Condensed"
  src: url("/assets/fonts/Neue-Plak-Condensed-Regular.ttf") format("truetype")
  font-weight: 500
@font-face
  font-family: "Neue Plak Condensed"
  src: url("/assets/fonts/Neue-Plak-Condensed-Regular.ttf") format("truetype")
  font-weight: 400
@font-face
  font-family: "Neue Plak Condensed"
  src: url("/assets/fonts/Neue-Plak-Condensed-Thin.ttf") format("truetype")
  font-weight: 300
@font-face
  font-family: "Neue Plak Condensed"
  src: url("/assets/fonts/Neue-Plak-Condensed-UltraLight.ttf") format("truetype")
  font-weight: 200
