.uc-block-big
  margin: 1em
  padding: 1em
  background-color: #fdfdfd
  border: solid 1px #dfdfdf
  border-radius: 1em
  &.c-green
    background-color: #dff0d8
    border: solid 1px #d6e9c6
  header
    font-size: 1.6em
    font-weight: bold
  article
    &.info-body
      &> div
        border-bottom: solid 1px #dfdfdf
        padding: 2px
        strong
          display: inline-block
          min-width: 40%