@import '~@angular/material/theming';
@include mat-core();

@import "intranet-tema";
@import "extranet-tema";

$background: map-get($dacweb-theme-intranet, background);
$foreground: map-get($dacweb-theme-intranet, foreground);

$background: map-get($dacweb-theme-extranet, background);
$foreground: map-get($dacweb-theme-extranet, foreground);
