<div class="card-body login-card-body">
  <p class="login-box-msg uc-t-small">inicio de sesion para dessarrollo</p>

  <div class="social-auth-links text-center mb-3">
    
    <div>
      <p>
        <input type="text" class="form-control login-input" #user placeholder="alumno@continental.edu.pe">
      </p>
      <p>
        <input type="submit" class="login-btn" value="Ingresar" (click)="singInUC(user.value)">
      </p>
    </div>
  </div>
  <!-- /.social-auth-links -->
  
  <div class="uc-center" *ngIf="loading">
    Cargando... por favor espera.
  </div>
  <div class="uc-center" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="uc-center" *ngIf="waitRedirect">
    Hemos validado tu información, por favor espera un momento mientras te redireccionamos...
  </div>
</div>
