<div *ngIf="!request">
  Busque una solicitud para ver su información.
</div>
<section *ngIf="request" class="uc-block-big c-green">
  <header>
    Información de la solicitud
    <hr>
  </header>
  <article class="info-body">
    <div>
      <strong>Código de la solicitud: </strong>
      <span>{{request.id}}</span>
    </div>
    <div>
      <strong>DNI del estudiante: </strong>
      <span>{{request.student.dni}}</span>
    </div>
    <div>
      <strong>Estudiante: </strong>
      <span>{{request.student.names}}</span>
    </div>
    <div>
      <strong>Solicitud: </strong>
      <span>{{request.document.name}}</span>
    </div>
    <div>
      <strong>Exposición: </strong>
      <span>{{description}}</span>
    </div>
    <div>
      <strong>Fecha de registro: </strong>
      <span>
        <span>
          <i class="pi pi-calendar"></i>
          {{request.requestDate | date:'dd/MM/yyyy'}}
          &nbsp;
        </span>
        <span>
          <i class="pi pi-clock"></i>
          {{request.requestDate | date:'hh:mm a'}}
        </span>
      </span>
    </div>
    <div>
      <strong>Plazo: </strong>
      <span>
        <span class="uc-t-small">{{request.document.estimatedDays}} dia(s)&nbsp;&nbsp;</span>
        <span class="uc-t-small-bold">{{untilDays}}&nbsp; &nbsp;</span>
      </span>
    </div>
    <div *ngIf="request.metaData.privateData?.pdfUrl">
      <strong>Descargar Documento: </strong>
      <span>
        <span>
          <a target="_blank" [href]="apiUrl+request.metaData.privateData?.pdfUrl">
            <img src="/assets/img/icons/pdf-download.png" alt="Descargar" height="60px">
          </a>
        </span>
      </span>
    </div>

    <!-- <div>
      <strong>Criticidad: </strong>
      <span>
        <span class="criticaly {{criticaly}}"></span>
      </span>
    </div>
    <div>
      <strong>Encargado: </strong>
      <span>request.executiveNames</span>
    </div> -->
    <div>
      <strong>Estado: </strong>
      <span>{{request.stateName}}</span>
    </div>
  </article>
  <aside>
    <app-request-trace [request]="request"></app-request-trace>
  </aside>
  
</section>