<!-- <p>p404 works!</p> -->

<div class="uc-content-sect">
    <div class="card uc-card-sect-1 mb-3 uc-bg-dark">
        <div class="card-header">
            <i class="fa fa-circle uc-c-red" aria-hidden="true"></i>
            <i class="fa fa-circle uc-c-orange" aria-hidden="true"></i>
            <i class="fa fa-circle uc-c-green" aria-hidden="true"></i>
        </div>
        <div class="card-body text-center row">
            <div class="col-md-6 uc-border-right">
                <img src="/assets/img/icons/lens.svg" alt="">
                <h5 class="card-title uc-c-purple">Not Found</h5>
            </div>
            <div class="col-md-6">
                <p class="card-text uc-text-white">Lo sentimos, la página no ha sido encontrada.</p>
                <button class="btn uc-border-16 uc-bg-green" (click)="goBack()">Regresar</button>
            </div>
        </div>
        <!-- <div class="card-footer text-muted">
            Team: LosDinamicos
        </div> -->
    </div>
</div>
