.uc-content-sect
    .uc-card-sect-1
        .card-header
            border-bottom: 3px solid #ffffff
        .card-body
            .uc-border-right
                border-right: 3px solid #ffffff
                img
                    max-width: 70px
                h5
                    float: none
                    text-align: center
            .uc-border-16
                border-radius: 1.6em