.list-unstyled {
  list-style: none;
  columns: 300px;
  font-size: 8pt !important;
  margin: 0px;
}

.list-unstyled-ul {
  display: grid;
  font-size: 8pt !important;
  grid-template-columns: repeat(var(--columns-num), 1fr);
  margin: 0;
  padding: 0;
  column-gap: 0;
}

.list-li {
  border: 0.5px solid #808080;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding: 0 0 0 10px;
  flex-direction: row;
  align-items: center;
}

.checkboxL {
  padding: 10px;
  border-left: 0.5px ridge #808080;
  margin: 0;
  height: 100%;
}

.textL {
  margin: 0;
  padding: 0;
}

.thead-checkbox {
  background: lightsteelblue !important;
}


table {
  position: relative;
  width: 100%;
}

.xt-header-row {
  background-color: #cfcfcf !important;
}

.xt-header-cell {
  padding: 0.6rem 0.4rem;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-right: none;
  border-bottom: none;
  font-weight: bold;
  color: black !important;
  font-size: 13px;
}

checkboxElement {
  text-align: center;
}

.checkWhite{
    background-color: white !important;
}
