<div [ngSwitch]="designer" id="xt-checkbox-list">
  <div *ngSwitchCase="'list'" class="xt-des-list">
    <ul class="list-unstyled">
      <li *ngFor="let dato of dataAll" class="xt-col-check">
        <!-- <input type="checkbox" [disabled]="disabled" value="{{dato[ValueField]}}" (click)="changeValue(dato)" [checked]="dato[CheckedField]" /> {{dato[TextField]}} -->
        <mat-checkbox [disabled]="disabled" value="{{dato[ValueField]}}" (change)="changeValue(dato, $event.checked)" [checked]="dato[CheckedField]">{{dato[TextField]}}</mat-checkbox>
      </li>
    </ul>
  </div>
  <div *ngSwitchCase="'grid'" class="xt-des-grid">
    <table class="mat-table">
      <thead class="mat-header-row">
        <tr class="mat-header-row xt-header-row" role="row">
          <th class="mat-header-cell xt-header-cell checkboxElement"><mat-checkbox class="checkWhite" [disabled]="disabled" value="{{datoAllValue}}" (change)="changeValueAll($event.checked)" [checked]="datoAllValue"></mat-checkbox></th>
          <th class="mat-header-cell xt-header-cell">{{NameLabel}}</th>
          <th class="mat-header-cell xt-header-cell" *ngIf="DescField && FieldVisible" id="thDesc2">{{DescriptionLabel}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of dataAll" class="mat-row">
          <td scope="row" class="mat-cell xt-col-check">
            <!-- <input type="checkbox" [disabled]="disabled" value="{{dato[ValueField]}}" (click)="changeValue(dato)" [checked]="dato[CheckedField]" /> -->
            <mat-checkbox [disabled]="disabled" value="{{dato[ValueField]}}" (change)="changeValue(dato, $event.checked)" [checked]="dato[CheckedField]"></mat-checkbox>
          </td>
          <td class="mat-cell">
            {{dato[TextField]}}
          </td>
          <td class="mat-cell" *ngIf="DescField && FieldVisible">
            {{dato[DescField]}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngSwitchCase="'listDynamic'" class="xt-des-dyn">
    <ul class="list-unstyled-ul">
      <div class="list-li" *ngFor="let dato of dataAll">
        <p class="textL">{{dato[TextField]}}</p>
        <div class="checkboxL xt-col-check">
          <!-- <input type="checkbox" [disabled]="disabled" value="{{dato[ValueField]}}" (click)="changeValue(dato)" [checked]="dato[CheckedField]" /> -->
          <mat-checkbox [disabled]="disabled" value="{{dato[ValueField]}}" (change)="changeValue(dato, $event.checked)" [checked]="dato[CheckedField]"></mat-checkbox>
        </div>
      </div>
    </ul>
  </div>
</div>
